<%perl>
my $wf = Bric::Biz::Workflow->lookup
  ({ id => get_state_data($widget, 'work_id')});
my $site_id = $wf->get_site_id;

$m->comp("/widgets/wrappers/sharky/table_top.mc",
         caption => "Properties",
         number  => 1);
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => 'site',
         readOnly => 1,
         objref => $wf
        );
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "title",
         vals => $tmeth
        );
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "slug",
         vals => $smeth
        );
$m->out($ieSpacer);
$m->comp( '/widgets/select_object/select_object.mc',
          disp       => 'Story Type',
          object     => 'element',
          name       => 'story_prof|at_id',
          req => 1,
          field      => 'name',
          constrain  => { top_level => 1,
                          media => 0,
                          site_id => $site_id,
                        },
          useTable   => 1,
          exclude  => $excl_sub,
        );
$m->out($ieSpacer);
$m->comp( '/widgets/select_object/select_object.mc',
          disp     => 'Source',
          object   => 'source',
          name     => "$widget|source__id",
          field    => 'source_name',
          useTable => 1,
        );
$m->out($ieSpacer);
$m->comp( '/widgets/select_object/select_object.mc',
          object     => 'category',
          disp       => 'Primary Category',
          name       => "$widget|new_category_id",
          constrain  => { site_id => $site_id },
          exclude    => $excl_sub,
          req        => 1,
          field      => 'uri',
          sort_field => 'uri',
          useTable   => 1
        );
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "priority",
         vals => $pmeth,
        );
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "cover_date",
         vals => $cdate,
        );

$m->out($ieSpacer, "<br />");
$m->comp("/widgets/wrappers/sharky/table_bottom.mc");

$m->comp("/widgets/wrappers/sharky/table_top.mc",
         caption => "Submit",
         number  => 2,
         ghostly => 1
        );

</%perl>
<table width="<% FIELD_INDENT + 150 %>" cellpadding="0" cellspacing="0">
<tr>
  <td width="<% FIELD_INDENT - 10%>"><img src="/media/images/spacer.gif" width="<% FIELD_INDENT - 10%>" height="1" /></td>
  <td><input type="image" src="/media/images/<% $lang_key %>/create_red.gif" border="0" name="story_prof|create_cb"></td>
</tr>
</table>
        

<%args>
$widget
</%args>

<%once>;
my $pmeth = { %{ Bric::Biz::Asset::Business::Story->my_meths->{priority} } };
$pmeth->{value} = 3;
my $cdate = { %{ Bric::Biz::Asset::Business::Story->my_meths->{cover_date} } };
my ($tmeth, $smeth) =
  @{ Bric::Biz::Asset::Business::Story->my_meths }{qw(title slug)};
my $excl_sub = sub { ! chk_authz($_[0], READ, 1) };
</%once>
<%init>;
$cdate->{value} = strfdate();
my $agent = $m->comp("/widgets/util/detectAgent.mc");
my $ieSpacer = ($agent->{browser} eq "Internet Explorer") ? qq{<table><tr><td><img src="/media/images/spacer.gif" width=570 height=5 /></td></tr></table>} : '';
</%init>
