% if (!@$categories) {
    <div class="noneFound"><% $lang->maketext('This story has not been assigned to a category.') %></div>
% } else {

<table class="listManager">
<tr>
  <th><% $lang->maketext('URI') %></th>
  <th><% $lang->maketext('Name') %></th>
  <th class="radio"><% $lang->maketext('Primary') %></th>
  <th class="checkbox"><% $lang->maketext('Delete') %></th>
</tr>
% my $i = 0;
% foreach my $cat (sort { $a->get_uri cmp $b->get_uri } @$categories) {
%     my $cat_id = $cat->get_id;
%     $curr_cats->{$cat_id} = 1;
<tr id="category-<% $cat_id %>" class="<% $i++ % 2 == 0 ? "even" : "odd" %>">
    <td>
        <% $cat->get_uri %>
        <& '/widgets/profile/hidden.mc',
            name    => "category_id",
            value   => $cat_id
        &>
    </td>
    <td><% $cat->get_name %></td>
    <td class="action">
        <& "/widgets/profile/radio.mc",
            disp        => '',
            value       => $cat_id,
            name        => "primary_category_id",
            js          => '',
            req         => 0,
            checked     => ($cat_id == $primary_category_id),
        &>
    </td>
    <td class="action">
        <& '/widgets/profile/button.mc',
            disp      => $lang->maketext("Delete Category"),
            name      => 'delete_category',
            value     => $cat_id,
            button    => 'delete_red',
            useTable  => 0,
            js        => ($cat_id == $primary_category_id ? qq{style="display: none" } : '') .
                         qq{onclick="catListMan.remove(this.parentNode.parentNode); return false"}
        &>
    </td>
  </tr>
% }
</table>
% if ($new_category_id) {
<script type="text/javascript">
new Effect.Highlight('category-<% $new_category_id %>');
</script>
% }
% }

% my $all_cats = [
%    grep { ! $curr_cats->{$_->get_id} && chk_authz($_, READ, 1) }
%    $cat_pkg->list({ site_id => $story->get_site_id })
% ];
% if (scalar @$all_cats) {
<div class="actions">
<& '/widgets/profile/button.mc',
    disp     => $lang->maketext("Add Category"),
    name     => 'add_category_button',
    button   => 'add_category_lgreen',
    useTable => 0,
    js       => qq{onclick="catListMan.add('new_category_uri'); return false"}
&>
<input type="text" id="new_category_uri" name="new_category_autocomplete" size="40" /><div id="category_autocomplete_choices" class="autocomplete"></div><span id="new_cat_warning" style="display: none"><img src="/media/images/dialog-warning.gif" alt="Warning" /> <% $lang->maketext(qq{Unable to add category that does not exist}) %></span>
<script type="text/javascript">
// add throbber after Add Category text field
var throbber = new Element('img', { id: 'category_autocomplete_indicator',
                                    src: '/media/images/busy_indicator.gif' });
Element.hide(throbber);
$('new_category_uri').insert({ after: throbber });

new Ajax.Autocompleter("new_category_uri", "category_autocomplete_choices",
                       "/widgets/profile/autocomplete_categories.html",
                       {
                         onEmpty:    function() { Element.show('new_cat_warning'); },
                         onNotEmpty: function() { Element.hide('new_cat_warning') },
                         onEnter:    function() { catListMan.add('new_category_uri') },
                         minChars:   2,
                         indicator:  'category_autocomplete_indicator',
                         parameters: 'site_id=<% $story->get_site_id %>&key=story'
                       }
);
</script>
</div>
% }

<script type="text/javascript">
var catListMan = new AssociationListManager('categories', {
    type: 'category',
    uri: '/widgets/story_prof/list_categories.html'
});
</script>

<%args>
$story            => undef
$categories       => undef
$category_id      => undef
$new_category_id  => undef
$new_category_uri => undef
$primary_category_id => undef
</%args>
<%init>
my $cat_pkg = get_package_name('category');
$story    ||= get_state_data('story_prof', 'story');

my $new_category;

if ($new_category_uri) {
    $new_category_uri .= "/" unless substr($new_category_uri, -1) eq "/";
    $new_category = $cat_pkg->lookup({ uri => $new_category_uri, site_id => $story->get_site_id });
}
$new_category_id = $new_category->get_id if $new_category;

$category_id = mk_aref($category_id);
push @$category_id, $new_category_id if defined $new_category_id;
push @$categories, $cat_pkg->list({ id => ANY(@$category_id), site_id => $story->get_site_id }) if @$category_id;

my $curr_cats = {};
</%init>
