<%perl>
my $note_img = %{ $story->get_notes } ? 'note_fill' : 'note';
my $rightText = qq{
<a href="/workflow/profile/story/view_notes.html?id=}. $id . qq{"><img src="/media/images/$note_img.gif" border="0" alt="View Notes" /></a>
<a href="/workflow/trail/story/}. $id . qq{"><img src="/media/images/view_trail_teal.gif" border=0 alt="View Trail" /></a>
};

$m->comp("/widgets/wrappers/sharky/table_top.mc",
  	 caption => "Information",
	 number  => 1,
	 rightText => $rightText

);

</%perl>



<table border="0" width="578" cellpadding="0" cellspacing="0">
  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">ID:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_id %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>


  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Asset Type:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_element_name %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Title:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_name %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Description:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_description %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Slug:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_slug %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>


  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">URI:&nbsp;</span></td>
  <td width="470">&nbsp;<a href="/workflow/profile/preview/story/<% $id %>" class="blackUnderlinedLink" target="preview_<% SERVER_WINDOW_NAME %>"><% $story->get_primary_uri %></a></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Source:&nbsp;</span></td>
  <td width="470">&nbsp;<% Bric::Biz::Org::Source->lookup({ id => $story->get_source__id })->get_source_name %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Categories:&nbsp;</span></td>
  <td width="470">&nbsp;
<%perl>
my @cats = $story->get_categories;
my @categories;
foreach (@cats) {
    push @categories, $_->get_name;
}
$m->out( join(", ", @categories));
</%perl>
  </td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Cover Date:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_cover_date %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Publish Date:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_publish_date %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Expire Date:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_expire_date %></td>
  </tr>

  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Current Version:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_current_version %></td>
  </tr>

  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Published Version:&nbsp;</span></td>
  <td width="470">&nbsp;<% $story->get_published_version %></td>
  </tr>

</table>

<& '/widgets/wrappers/sharky/table_bottom.mc' &>

<& '/widgets/container_prof/container_prof.mc',
	tile   => $tile,
	tile_type => 'story',
	action    => 'view',
	start_count => 4,
        num      => 2
&>

% $m->comp("/widgets/wrappers/sharky/table_top.mc",
%  	 caption => "Associations",
%	 number  => 3);
<table border=0 width=578 cellpadding=0 cellspacing=0>
<tr>
  <td width=20 class="medHeader"><img src="/media/images/spacer.gif" width="20" height="20" /></td>
  <td width=100 class="medHeader"><span class="label">Type</span></td>
  <td width=1><img src="/media/images/spacer.gif" width="1" height="20" /></td>
  <td width=458 class="medHeader"><span class="label">&nbsp;Values</span></td>
</tr>
</table>
<table border=0 width=578 cellpadding=0 cellspacing=0>
<tr>
  <td width=121 align=right valign=top><span class=label>Keywords:&nbsp;</span></td>
  <td width=457 valign=top height="25">
<%perl>
my @keywords;
foreach my $kw ($story->get_keywords) {
    push @keywords, $kw->get_name;
}

$m->out(scalar(@keywords) ? join(", ", @keywords) : "No keywords defined.");

</%perl>
</tr>
</table>
<table border=0 cellpadding=0 cellspacing=0 width=578>
<tr><td class="medHeader"><img src="/media/images/spacer.gif" width="578" height="1" /></td></tr>
</table>
<table border=0 cellpadding=0 cellspacing=0 width=578>
<tr>
  <td align=right width=121 valign=top><span class=label>Contributors:&nbsp;</span></td>
  <td width=457 valign=top height="25">

<%perl>
my @contribs;
foreach my $cntr ($story->get_contributors) {
    push @contribs,  $cntr->get_name;
}
$m->out(scalar(@contribs) ? join(", ", @contribs) : "No contributors defined.");

</%perl>

  </td>
</table>
% $m->comp("/widgets/wrappers/sharky/table_bottom.mc");

<table width=160 cellpadding=0 cellspacing=0>
<tr>
  <td width=80><input type="image" src="/media/images/return_dgreen.gif" border=0 name="<% $widget %>|workspace_return_cb" value="Return To Desk">
  </td>
  <td width=80><a href="/workflow/profile/preview/story/<% $id %>" target="preview_<% SERVER_WINDOW_NAME %>"><img src="/media/images/preview_lgreen.gif" border=0 /></a></td>
</tr>
</table>


<%args>
$widget
</%args>

<%init>
my $story = get_state_data($widget, 'story');
my $id = $story->get_id;
my $tile  = $story->get_tile();
my $agent = $m->comp("/widgets/util/detectAgent.mc");
my $infoIndent = ($agent->{browser} eq "Netscape") ? FIELD_INDENT - 5 : FIELD_INDENT + 8;
</%init>
