% if (ENABLE_WYSIWYG && lc WYSIWYG_EDITOR ne 'js-quicktags') {
<script>
    editors = new Array();
%   my %java_vars = $m->comp('/widgets/wysiwyg/bricolage-wysiwyg.mc');
%   foreach my $key_name (keys %java_vars) {
    <% $key_name %> = <% $java_vars{$key_name} %>;
%   }
</script>
% }
<& 'container.mc',
    widget  => $widget,
    element => $element,
    parent  => $parent,
&>
% if (ENABLE_WYSIWYG && lc WYSIWYG_EDITOR ne 'js-quicktags') {
<script>
%     if (lc WYSIWYG_EDITOR eq 'xinha') {
    var xinha_editors = Xinha.makeEditors(editors, xinha_config, xinha_plugins);
    Xinha.startEditors(xinha_editors);
%     } elsif (lc WYSIWYG_EDITOR eq 'fckeditor') {
    fckCallback();
%     } elsif (lc WYSIWYG_EDITOR eq 'ckeditor') {
    ckCallback();
%     } elsif (lc WYSIWYG_EDITOR eq 'htmlarea') {
    inithtmlareas();
%     }
</script>
% }
<%once>
my $widget = 'container_prof';

my $find_subelement;
$find_subelement = sub {
    my ($element, $id) = @_;

    return $element if $element->get_id == $id;

    foreach my $container ($element->get_containers) {
        my $subelement = $find_subelement->($container, $id);
        return $subelement if $subelement;
    }
};
</%once>

<%init>
my $element = get_state_data($widget, 'element');
my $container_id = $ARGS{container_id};
$element = $find_subelement->($element, $container_id) if $container_id;
# Find the parent element in the session for the appropriate type of profile
# (story or media).
my $type = $element->get_object_type;
my $doc = get_state_data("$type\_prof", $type);
my $parent = $find_subelement->($doc->get_element, $element->get_parent_id);
</%init>

<%flags>
inherit => undef
</%flags>
