<%perl>
# Show the story summary if needed.
if ($show_summary) {
    my $type  = $element->get_object_type;

    # Nab the story from the story_prof widget
    my $asset = get_state_data($type.'_prof', $type);
    $m->comp('/widgets/summary/summary.mc', asset => $asset, number => ++$i);
}
</%perl>
<& /widgets/dialog_box/find.mc,
    field_id  => "$widget|text",
    dialog_id => 'finddialog',
&>
<& '/widgets/wrappers/sharky/table_top.mc',
   caption => $lang->maketext('Bulk Edit [_1]', $element->get_name),
   id      => 'containerprof',
   number  => ++$i,
&>
    <dl class="viewmeta">
        <dt>Element:</dt>
        <dd><% $at->get_name %> <% $show_element_flags->($at) %></dd>
% if (my $fields = $at->get_field_types) {
        <dt>Field Elements:</dt>
        <dd>
%     $m->print(join ', ', map { $_->get_key_name . $show_data_flags->($_) } @$fields);
        </dd>
% }
% if (my $subelems = $at->get_containers) {
        <dt>Container Elements:</dt>
        <dd>
%     $m->print(join ', ', map { $_->get_key_name . $show_element_flags->($_) } @$subelems);
        </dd>
        <dt>Default Element:</dt>
        <dd>
<%perl>;
my $opts = [
    [ '' =>  '' ],
    map  {   [ $_ => $_ ]   }
    sort {     $a cmp $b    }
    map  { $_->get_key_name } $at->get_field_types
];
</%perl>
<& '/widgets/profile/select.mc',
        name     => $widget.'|default_field',
        options  => $opts,
        value    =>  $def_field,
        useTable => 0,
&>
        <input type="image" src="/media/images/<% $lang_key %>/change_red.gif" name="<% $widget %>|change_default_field_cb" value="Change" />
        </dd>
        <dt><% $lang->maketext('Words') %></dt>
        <dd><input type="text" id="words" name="words" value="" /></dd>
        <dt><% $lang->maketext('Characters') %></dt>
        <dd><input type="text" id="chars" name="chars" value="" /><button title="<% $lang->maketext('Open the search and replace dialog box') . ' ' . $lang->maketext('(Access Key: [_1])', 'f') %>" accesskey="f"onclick="return openFindDialog(document.getElementById('finddialog'), event);">Search</button></dd>
    </dl>
% }
<& '/widgets/profile/textarea.mc',
    name     => "$widget|text",
    value    => $args->{__use_text__} ? $args->{"$widget|text"} : $element->serialize_to_pod($def_field),
    rows     => 40,
    useTable => 0,
    js       => qq{onkeyup="wordCount(document.theForm, '$widget|text', 'words', 'chars');"},
&>
<script>wordCount(document.theForm, '<% $widget . "|text" %>', 'words', 'chars')</script>
<& '/widgets/wrappers/sharky/table_bottom.mc' &>
<%doc>

<& '/widgets/wrappers/sharky/table_top.mc',
   caption => 'Formatting Options',
   number  => ++$i,
&>
<table>
<tr>
<td>
<img src="/media/images/spacer.gif" width="10" height="1">
  </td>
<th style="text-align: right;">Preserve formatting:</th>
<td colspan="4"><& "/widgets/profile/checkbox.mc",
         checked     => $preserve,
         value       => 1,
         name        => $widget.'|preserve' &>
</td>
<td>
<input type="image" src="/media/images/<% $lang_key %>/change_red.gif" border=0  name="<% $widget %>|change_preserve_cb" value="Change">
</td>
</tr>
</table>
<& '/widgets/wrappers/sharky/table_bottom.mc' &>
</%doc>
<input type="image" src="/media/images/<% $lang_key %>/save_red.gif" border=0 name="<% $widget %>|bulk_save_and_up_cb">
<input type="image" src="/media/images/<% $lang_key %>/save_and_stay_lgreen.gif" border=0 name="<% $widget %>|bulk_save_cb">
<input type="image" src="/media/images/<% $lang_key %>/cancel_red.gif" border=0 name="<% $widget %>|bulk_up_cb" value="Return without Saving">
<%args>
$widget
$show_summary
$args
</%args>
<%init>;
# the element object
my $element       = get_state_data($widget, 'element');
#my $preserve   = get_state_data($widget, 'preserve');
my $i          = 0;
my $at         = $element->get_element_type;
my $def_field  = get_state_data(
    '_tmp_prefs',
    'container_prof.' . $at->get_id . '.def_field'
);
</%init>
<%once>;
my $show_element_flags = sub {
    my $at = shift;
    my @flags;

    push @flags, 'paginated'     if $at->get_paginated;
    push @flags, 'top level'     if $at->get_top_level;
    push @flags, 'fixed url'     if $at->get_fixed_url;
    push @flags, 'media'         if $at->is_media;
    push @flags, 'related media' if $at->is_related_media;
    push @flags, 'related story' if $at->is_related_story;

    return '' unless @flags;
    return ' <span class="orangeLink">(' . join(', ', @flags) . ')</span>';
};

my $show_data_flags = sub {
    my $dt = shift;
    my @flags;

    push @flags, 'required'   if $dt->get_required;
    push @flags, 'repeatable' if $dt->get_quantifier;
    return '' unless @flags;
    return ' <span class="orangeLink">(' . join(', ', @flags) . ')</span>';
};
</%once>
