<& '/widgets/search/search.mc',
  object       => 'story',
  type         => 'story',
  field        => 'title',
  use_form_tag => 0 &>

<a name="results"></a>
<& '/widgets/wrappers/sharky/table_top.mc', caption => 'Choose a Related Story' &>
<& /widgets/listManager/listManager.mc,
   object   => 'story',
   sortBy   => 'name',
   select   => undef,
   profile  => $related_profile,
   featured => $relate_id ? [$relate_id] : undef,
   exclude  => $excl_sub,
   fields   => [qw(id title uri cover_date)],
   field_values => $field_values,
   addition => '',
   behavior  => 'expand',
&>
<& '/widgets/wrappers/sharky/table_bottom.mc' &>

<input type="image" src="/media/images/<% $lang_key %>/return_dgreen.gif" border=0 name="<% $widget %>|related_up_cb" value="Return">
<%args>
$widget
</%args>
<%init>;
# The tile object
my $tile = get_state_data($widget, 'tile');

my $relate_id = $tile->get_related_story_id;
my $excl_sub;
if ($tile->get_object_type eq 'story') {
    my $asset_id = get_state_data('story_prof', 'story')->get_id;
    $excl_sub = sub {
        return 1 if $_[0]->get_id == $asset_id;
        return !chk_authz($_[0], READ, 1);
    };
} else {
    $excl_sub = sub { return !chk_authz($_[0], READ, 1) };
}
</%init>
<%once>;
my $field_values = sub {
    my ($o, $field) = @_;
    return unless $field eq 'title';
    my $html = '<a href="/workflow/profile/preview/story/' . $o->get_id . '" ' .
      'class="blackUnderlinedLink" target="preview_' . SERVER_WINDOW_NAME . '">' .
	$o->get_title . '</a>';
    return $html;
};

my $related_profile = sub {
    my ($o, $flags) = @_;
    return ['Relate', $r->uri, "container_prof|relate_story_cb=".$o->get_id]
      unless $flags->{featured};
    return ['Un-relate', $r->uri, "container_prof|unrelate_story_cb=".$o->get_id];
};
</%once>
