% $m->comp("/widgets/wrappers/sharky/table_top.mc",
%  	 caption => "Content",
%        id      => 'containerprof',
%        number  => $num++
%	 );

  <table width=578 border=0 cellpadding=0 cellspacing=0>
  <tr>


  <tr>
      <td class="medHeader" width=20><img src="/media/images/spacer.gif" height="18" width="20" /></td>
      <td width=<% $infoIndent - 20 %> class=medHeader><span class=label>&nbsp;<% $lang->maketext('Fields') %></span> </td>
      <td><img src="/media/images/spacer.gif" width=1 height=1></td>
      <td colspan="2" class=medHeader width=<% 595 - $infoIndent  %>>&nbsp;<span class=label><% $lang->maketext('Values') %></span></td>
  </tr>

  <tr>
  <td bgcolor="white" colspan=4><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>
  <input type="hidden" name="<% $widget %>|view_cb" value="" />

% foreach my $dt (@tiles) {
% my $sep = 1;
    <tr valign="top">
      <td>
	<img src="/media/images/spacer.gif" height="18" width="1" />
      </td>
      <td width="<% $infoIndent - 18 %>" align="right">
	<span class="label"><% $dt->get_name %>:</span>
      </td>
      <td width=1></td>
%   if ($dt->is_container) {
      <td width="<% 578 - $infoIndent - 24 %>" colspan="2">

<%perl>
# Find a suitable field of a tile to display
my($disp_buf, $value_buf);
foreach my $tile ($dt->get_tiles) {
    next if $tile->is_container;
    my $props = $tile->get_element_data_obj->get_meta('html_info');
    if (my $data = $dt->get_data($tile->get_key_name)) {
         $disp_buf  =  $props->{disp};
         $value_buf =  substr($data, 0, 64);
         last;
    }
}
</%perl>
% if ($value_buf) {
<% $disp_buf %>: <% escape_html($value_buf) %><br/>
% }

<&
    '/widgets/profile/imageSubmit.mc',
      formName  => 'theForm',
      callback  => 'container_prof|view_cb',
      image     => 'view_dgreen',
      value     => $dt->get_id,
      useHidden => 0,
&>
      </td>
%   } else {
      <td width="<% 578 - $infoIndent - 19 %>" class="fieldcontent">
%       my $data = $dt->get_data;
%       $data = $lang->maketext("Not defined.") unless defined $data;
%       $m->out(escape_html($data));
%       $sep = 7;
      </td>
      <td width="10">&nbsp;</td>
%   }
    </tr>
    <tr>
      <td bgcolor="white" colspan=3><img src="/media/images/spacer.gif" width="1" height="<% $sep %>" /></td>
    </tr>
% }


% if (!scalar(@tiles)) {
    <tr>
      <td>
	<img src="/media/images/spacer.gif" height="18" width="1" />
      </td>
      <td bgcolor="white" colspan=3><%$lang->maketext('No elements are present.')%></td>
    </tr>
% }

</table>

% $m->comp("/widgets/wrappers/sharky/table_bottom.mc");

% return $num;

<%args>
$widget
$num => 1
</%args>
<%init>
  # the tile object
  my $tile = get_state_data($widget, 'tile');

  # the contained tiles
  my @tiles = $tile->get_tiles();

my $agent = detect_agent();
my $infoIndent = $agent->nav4 ? FIELD_INDENT - 5 : FIELD_INDENT + 8;
</%init>
