<& /widgets/wrappers/header.mc,
        title => 'Edit Category',
        context => $context . $r->pnotes('media_prof|title') . ' | Category'
&>
<form action="<% $r->uri %>" method="post" name="theForm">
<% $content %>
</form>

<& /widgets/wrappers/footer.mc &>


<%once>;
my $type = 'element';
my $disp = get_disp_name('media');
my $context = "Workflow | Profile | $disp | ";
</%once>

<%args>
$id => undef
</%args>

<%init>
# Do any redirects first.
do_queued_redirect();

my $content = $m->scomp('/widgets/media_prof/media_prof.mc',
                        id      => $id,
                        section => 'category',
                        param => \%ARGS);
</%init>

<%doc>
###############################################################################

=head1 Name

category.html -- associates a category to a media asset

=head1 Description

Top-level component to associate a category to a media asset.
(I think this, keywords.html, and contributors.html should be
factored out into an association.html component.)

=cut
</%doc>