%# OPENS IN A POPUP!

<& /widgets/wrappers/header.mc,
    title => 'Contributor Association',
    context => $context . $r->pnotes('media_prof|title') . ' | Contributors',
    popup => 1
&>

<form action="<% $r->uri %>" method="post" name="theForm">
<% $content %>
</form>

<& /widgets/wrappers/footer.mc &>


<%once>;
my $type = 'element';
my $disp = get_disp_name('media');
my $context = "Workflow | Profile | $disp | ";
</%once>

<%args>
$id => undef
</%args>

<%init>
# Do any redirects first.
do_queued_redirect();

# Grab the content.
my $content = $m->scomp('/widgets/media_prof/media_prof.mc',
                        section => 'contributors',
                        param   => \%ARGS);
</%init>

<%doc>
###############################################################################

=head1 Name

contributors.html -- Contributor section of the media profile

=head1 Description

<description>

=cut
</%doc>