<%doc>
###############################################################################

=head1 NAME

<name> -- <description>

=head1 VERSION

$LastChangedRevision$

=head1 DATE

$LastChangedDate$

=head1 DESCRIPTION

<description>

=cut
</%doc>

%#-- Once Section --#
<%once>;
my $type = 'element';
my $disp = get_disp_name('story');
my $context = "Workflow | Profile | $disp | ";
</%once>

%#-- Args Section --#
<%args>
$id => undef
</%args>

%#-- Init Section --#
<%init>
# Do any redirects first.
do_queued_redirect();

# Grab the content.
my $content = $m->scomp('/widgets/media_prof/media_prof.mc',
			section => 'contributors',
			param   => \%ARGS);
</%init>

%#-- Begin HTML --#

<& /widgets/wrappers/sharky/header.mc,
	title => 'Contributor Association',
	context => $context . $r->pnotes('media_prof|title') . ' | Contributors'
&>

<form action="<% $r->uri %>" method="post" name="theForm">
<% $content %>
</form>

<& /widgets/wrappers/sharky/footer.mc &>

%#-- End HTML --#


