<& /widgets/wrappers/header.mc,
   useSideNav => 0,
   no_toolbar => 0,
   context => "Welcome to " . get_pref('Bricolage Instance Name') . ".",
&>
<& /widgets/wrappers/table_top.mc &>
<div style="padding: 1em;">
  <a href="<% $url %>" style="font-weight: bold;" onclick="var newWin = window.open('<% $url %>', 'Bricolage_<% SERVER_WINDOW_NAME %>', 'menubar=0,location=0,toolbar=0,personalbar=0,status=1,scrollbars=1,resizable=1,width=980'); newWin.focus(true);"><% $lang->maketext('Start Bricolage') %></a>
</div>
<& /widgets/wrappers/table_bottom.mc &>
<& /widgets/wrappers/footer.mc &>
<%init>;
my $url = SSL_ENABLE
    ? Bric::Util::ApacheReq->url( ssl => 1, uri => $ARGS{referer} )
    : $ARGS{referer};
</%init>
