body {
    margin: 0; padding: 0;
    background: white url("/media/images/nav_background.gif") 8px 0px repeat-y;
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    font-size: 70%;
}
body.popup { background: white; }
th         { font-size: 1.1em; }
pre        { font-size: 1.3em; padding: 1em; margin: 0; } 
code       { font-size: 1.3em; }
h3         { font-size: 1.1em; }

img        { vertical-align: middle; }
a          { color: #006666; }
a img      { border: none; }
button img { vertical-align: bottom; }

form       { margin: 0; padding: 0; }
input      { vertical-align: middle; }
.textInput { font-family: Verdana, Helvetica, Arial, sans-serif; }
.subelement .textInput { text-align: right; }
textarea { 
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    font-size: 1em;
    width: 99%;
}
.editmeta .textarea textarea { width: 50%; }
.codearea { width: 100%; }
.codearea textarea { font-family: monospace; font-size: 1.2em; }

#navFrame         { background: #666633; }
#help             { background: white; padding: 10px; }

#bricLogo { position: absolute; top: 0; left: 0; background: white; padding-top: 8px; }
#mainContainer { position: relative; margin: 0px 8px 8px 8px; min-width: 740px; }
body.popup #mainContainer { min-width: 450px; }
#sideNav { position: absolute; top: 55px; left: 0; width: 150px; z-index: 200; border: 0; }
#contentContainer { padding: 8px 0 0 158px; }
body.popup #contentContainer { padding: 0; }
#help #contentContainer { padding: 0; }

.adminBox,
.workflowBox,
.loginBox,
.searchBox,
.errorsBox,
.helpBox { margin-bottom: 10px; line-height: 1.4em; }
.helpBox h3 { color: #006666; }
.helpBox dt { font-weight: bold; }
.helpBox dd { margin: 0; padding: 0 0 .7em 0; }
.helpBox dl dl { margin: 0 0 0 2em; }

/* Use smart quotes where possible. */
.helpBox p>q,
.helpBox a>q,
.helpBox blockquote>q,
.helpBox h2>q,
.helpBox h3>q,
.helpBox li>q,
.helpBox dt>q,
.helpBox dd>q,
.helpBox strong>q,
.helpBox em>q {
    quotes: "\201c" "\201d" "\2018" "\x2019"
}

.padding { padding: 10px; }


/***************************************************
 * PAGE HEADER
 ***************************************************/
#headerContainer               { position: relative; width: 100%; padding-top: 20px; }
body.popup #headerContainer    { padding-top: 8px; }
#headerContainer .adminBox,
#headerContainer .workflowBox,
#headerContainer .loginBox,
#headerContainer .helpBox,
#headerContainer .errorsBox    { margin-bottom: 0; margin-right: 240px; }
#headerContainer .buttons      { position: absolute; top: 20px; right: 0; width: 240px; text-align: right; }
#headerContainer .buttons a    { margin: 0 2px; }
#headerContainer .userinfo     { position: absolute; bottom: 35px; right: 0; }
#breadcrumbs                   { position: relative; width: 100%; background-color: #999966; margin-bottom: 1em; }
#breadcrumbs p                 { margin: 0; padding: 5px 6px; }
#breadcrumbs .siteContext      { position: absolute; top: 0; right: 0; }


.header      { position: relative; width: 100%; }
.fullHeader  { position: relative; width: 100%; color: white; font-weight: bold; }
.header      .caption           { background-color: #CCCC99; }
.fullHeader  .caption a     { color: white; }
.fullHeader  .number,
.fullHeader  .rightText     { width: 8px; }
.adminBox    .fullHeader    { background-color: #CC6633; }
.workflowBox .fullHeader    { background-color: #006666; }
.loginBox    .fullHeader    { background-color: #006666; }
.searchBox   .fullHeader    { background-color: #666633; }
.errorsBox   .fullHeader    { background-color: #CC0000; }
.helpBox     .fullHeader    { background-color: #006666; }

.number { 
    position: absolute; top: 0; left: 0;
    background: transparent url("/media/images/curve_left.gif") top left no-repeat;
    line-height: 2em;
    width: 2.5em;
    color: white;
    font-weight: bold;
    text-align: center;
}
.workflowBox .header .number { background-color: #669999; }
.adminBox    .header .number { background-color: #D7713E; }
            
.caption { text-transform: uppercase; line-height: 2em; padding-left: 3em; }
.fullHeader .caption { padding-left: 10px; }
#headerContainer .caption { padding-left: 10px; text-transform: none; font-size: 1.2em; }
.rightText { 
    position: absolute;
    top: 0; right: -1px; /* Fix strange 1px showing in IE */
    width: 30%;
    line-height: 2em;
    background: transparent url("/media/images/curve_right.gif") top right no-repeat;
    padding: 2px 10px 0 0;
    text-align: right;
}
.border              { border-style: solid; border-width: 0 1px 1px 1px; }
.adminBox .border    { border-color: #999966; }
.workflowBox .border { border-color: #669999; }
.helpBox .border     { border-color: #669999; padding: 1px 10px; }
.loginBox .border    { border-color: #669999; padding: 5px; }
.searchBox .border   { border-color: #666633; background-color: #CCCC99; padding: 5px; }

/***************************************************
 * SEARCH BOXES
 ***************************************************/
.switchSearch   { text-transform: none; }
.searchBox div.alpha { margin: 10px 0;}
.searchBox div.alpha span { font-weight: bold; }
.searchBox div.alpha a { color: black; font-weight: bold; }

.uploader { border-top: 1px solid #666633; margin-top: 10px; padding: 5px; }

a.small         { font-size: .9em; }
.orangeLink     { font-size:10px; color:#CC6633;}
.orangeLinkBold { font-size:10px; font-weight:bold; color:#CC6633;}
.redLink        { font-size:10px; color:#993300; font-weight:bold}
.whiteLink      { font-size:10px; color:#ffffff; text-decoration:none}
.whiteUnderlinedLink      { font-size:10px; color:#ffffff;}
.blackLink      { font-size:10px; color:#000000; text-decoration:none}
.blackLinkBold  { font-size:10px; color:#000000; font-weight:bold}
.whiteMedUnderlinedLink { font-size:11px; color:#ffffff;}
.blackUnderlinedLink { font-size:10px; color:#006666;}
.blackMedUnderlinedLink { font-size:11px; color:#006666;}

.label          { font-weight: bold }
.label.required { font-weight: bold; color: #cc0000}
.burgandyLabel { font-size:10px; font-weight:bold; color:#993300}
.radioLabel  { font-size:12px; font-weight:bold;}
.shortCategory  { border-bottom: dashed #666 1px; cursor: help; }

.darkHeader     {background:#666633;  font-size:10px; color:white; font-weight:bold;}
.medHeader      {background:#999966;}
.lightHeader    {background-color: #cccc99;}
.alias          { font-style:italic; }

#errors      { margin: 10px 0; }
.errorMsg    { padding: 3px 0; color: #cc0000; font-weight: bold}
.statusMsg   { display: none; } /* Status messages are sent to the browser before the */
                                /* stylesheet.  If this style ever gets applied, that */
                                /* means there was an error and these messages should */
                                /* be hidden. (See bug 751) */

.desk .alias          {background: #99cc99 url("/media/images/link.png") 112px -5px no-repeat !important; margin-left: 18px;}
.listManager .alias {background: url("/media/images/link.png") 0px -10px no-repeat; margin-left: 18px; margin: 0; padding-left: 15px; }

div.debug .hide    { display: none; }
div.debug .content { display: none; }

div.debug.expanded .show    { display: none; }
div.debug.expanded .hide    { display: block; }
div.debug.expanded .hide a  { font-size: .8em; font-weight: normal; }
div.debug.expanded .content { display: block; }

div.debug dt {
    float: left;
    margin-right: 2px;
    padding-right: 2px;
    width: 120px;
}

div.debug dt:after {
    content: ':'; /* Insert a colon. */
}

/* Desk item styling. */
.desk {
    position: relative;
    font-size: 11px;
    line-height: 11px;
/* Trigger hasLayout to fix IE6 pop menu z-index issues on the Workspace page
 * where there can be more than one desk on the page */
    _zoom: 1;
}

.jump { float: right; padding-top: 3px; }
.desk-top { background-color: #666633; color: white; padding: 3px 5px; margin: 0px 0px 10px 0px; }
.jump a { color:#ffffff; font-weight: bold; line-height: 1.7em; padding-right: .5em; }

.desk-top h1 { float: left; font-size: 1.2em; padding: 2px 5px; line-height: 1.4em; margin: 0; }
.desk-top .sort { float: right; text-align: right; font-size: 1em;  padding: 2px 20px 0px 0px; }
.desk-top .sort select { font-size: 1em; }

.desk .buttonbar { text-align: right; }

.desk .item {
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #CCCC99;
    border-width: 0 1px 1px 1px;  
}

.desk .item .sorted {
    font-weight: bold;
}

.desk .item dd.sorted,
.desk .item div.sorted {
    background: #99cc99 !important;
}

.desk .item .head { 
    position: relative;
    background: #cccc99; 
    line-height: 2em;
    font-weight: bold;
}
.desk .item .head .status {
    position: absolute;
    top: 0;
    left: 0;
    padding: .3em 0 0 .3em;
}
.desk .item .head .version { 
    float: left; 
    width: 10em; 
    background: #cccc99;
    border-right: solid white 1px;
    text-align: right;
    padding: 0 .5em;
}
.desk .item .head .title {
    /* float: left; */
    padding: 0 .5em 0 10.5em;
    font-size: 1.1em;
}
.desk .item .head .location {
    top: 0;
    right: 0;
    color: black;
    position: absolute;
    font-style: italic;
    font-weight: normal;
/* Absolute positioning of italicized text causes IE7 to create a horizontal
 * scrollbar. Setting overflow fixes this. */
    *overflow: auto;
}
.desk .item .head .pubstatus {
    /* float: right; */
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 0 .5em;
    color: white; 
    cursor: default;
}
.desk .item .head .need { background: #993300; }
.desk .item .head .pub { background: #999934; }

.listManager .need { font-weight: bold; color: #993300; font-size: 130% }
.listManager .pub  { font-weight: bold; color: #999934; font-size: 130% }

.desk .item .body { position: relative; }

.desk .item dl { 
    margin: 0 255px 0 0; 
    padding: 0; 
    border-style: solid;
    border-color: #CCCC99;
    border-width: 0 1px 0 0; 
}
.desk .item dt, .desk .item dd {
    padding: 8px .5em;
    border-top: solid white 1px;
}
.desk .item dt { 
    clear: both; 
    float: left; 
    width: 10em; /* plus 1em padding */ 
    text-align: right;
    background: #999966;
    border-right: solid white 1px;
}
.desk .item dd { margin-left: 11em; word-wrap: break-word; }
.desk .item .actions p { margin: 0; padding: 5px 0; line-height: 20px; }
.desk .item .actions {
    top: 0px; right: 0px;
    background: transparent;
    border-top: solid white 1px;
    padding: 0px 5px;
    position: absolute;
    max-width: 240px;
    width: auto;
/* The top of actions overlaps the title line in IE7 */
    *margin-top: 1px;
}
.desk .item .actions ul { 
    margin: 5px 0; 
    padding: 0; 
    list-style: none;
    display: inline; 
    clear: both;
    float: right;
    white-space: nowrap;
}
.desk .item .actions ul li {
    clear: right;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    float: left;
    margin: .3em .4em;
/* Too much space between buttons in IE6/7  */
    *margin: 0;
    max-width: 4em;
    width: auto;
/* IE6 doesn't support max-width and doesn't like width set to auto */
    _width: 4em;
    overflow: visible;
}

.desk .item .actions ul li button {
    font-size: 11px;
    font-weight: normal;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 11px;
    color: #006666;
    border: 0px;
    background: transparent;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px;
    width: auto !important;
}

.desk .item .actions ul li a, .desk .item .actions ul li a:link, .desk .item .actions ul li a:visited, .desk .item .actions ul li a:active, .desk .item .actions ul li a:hover {
    cursor: pointer;
    display: table-row;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}   
.desk .item .actions ul li input, .desk .item .actions ul li a img {
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5px;
/* Taking things too far up for IE6, cutting off the icons */
    _margin-top: -2px;
}
.desk .item .actions ul li.inactive { color: #999; }
.desk .item .actions ul.action { text-align: right; }

.desk .item .tall .actions ul { margin-bottom: 20px; }
.desk .item .short .actions ul { margin-bottom: 5px; }

.desk .item .actions ul.view { float: right; }
.desk .item .actions ul.action li { padding: 0px 5px 0px 0px; }
.desk .item .actions ul.view li   { padding: 0px 5px 0px 0px; }

.desk .item .actions li,
.desk .item .actions img,
.desk .item .actions input,
.desk .item .actions select,
.desk .item .actions button { vertical-align: middle; }
.desk .item .actions select { font-size: 1em; }

.desk .item .movers li { position: relative; float: right; margin: 0 0 0 5px; }
.desk .item .movers li ul li { float: none; }

div.popup-menu {
    position: absolute;
    width: 10em;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;
    padding-bottom: .4em !important;
    z-index: 1000;
    display: block;
}
div.popup-menu ul {
    list-style: none outside;
    width: 100%;
    margin: 0 !important;
    margin-bottom: 0.2em !important;
    padding: 0 !important;
    display: block;
}
div.popup-menu ul li {
    list-style-type: none;
    display: block !important;
    margin: 0 !important;
    text-align: left !important;
    width: auto !important;
    max-width: none !important;
    float: none !important;
    _height: 1.2em;
}
div.popup-menu h4 {
    display: block;
    font-size: .9em;
    padding: .2em;
    margin: 0;
    background: #EAEAEA;
    color: #999;
    border-bottom: solid #CCC 1px;
}
div.popup-menu a {
    display: block !important;
    text-align: left !important;
    color: black;
    text-decoration: none;
}
div.popup-menu a:hover {
    background-color: #336FCB;
    color: white;
}

form .row {
    position: relative;
    margin-bottom: 4px;
    z-index: 300;
}
form .row .label {
    float: left;
    width: 130px;
    padding-right: 5px;
    text-align: right;
    line-height: 2;
}
form .row .input {
    padding-left: 140px;
    white-space: nowrap;
    line-height: 2;
}
form .row .input p {
    margin: 0;
    padding: 0;
    line-height: 1.9;
}
form .alpha .row .input { line-height: 1.3em; }

table { padding: 0; border-collapse: collapse; position: relative; border: none; }
table tr.odd { background: #f5f5e6; }
table td.action,
table td.delete,
table td.order { width: 30px; text-align: center; white-space: nowrap; }

#bulkedit { width: 100%; }

.listManager {
    width: 100%;
    border-style: hidden;
/* IE hack to make sure the popup menu goes on top of the table */
    *z-index: -1;
}
.listManager th { background: #999966; color: black; padding: 5px;
                  text-align: left; vertical-align: bottom;
                  border: solid #cccc99 1px; font-size: .9em; }
.listManager th.sortup { 
    background: #669999 url("../images/listsort_up_teal.gif") center right no-repeat;
    padding: 0;
    color: white;
}
.listManager th.sortdown { 
    background: #669999 url("../images/listsort_down_teal.gif") center right no-repeat;
    padding: 0;
    color: white;
}
.adminBox .listManager th.sortup { 
    background: #993300 url("../images/listsort_up_red.gif") center right no-repeat;
}
.adminBox .listManager th.sortdown { 
    background: #993300 url("../images/listsort_down_red.gif") center right no-repeat;
}
.listManager th a { display: block; color: black; text-decoration: none; }
.listManager th.sortup a,
.listManager th.sortdown a { padding: 5px 17px 5px 5px; color: white; }
.listManager td { padding: 2px 5px; border-bottom: solid #e7e7c8 1px; border-right: solid #e7e7c8 1px; height: 2.3em; }
.listManager td.selected { font-weight: bold; }

th.checkbox, th.radio,
td.checkbox, td.radio { width: 10%; text-align: center; }

.containerProf td { border: none; }
.containerProf .name { width: 15%; text-align: right; }
.containerProf .position,
.containerProf .delete { width: 8%; text-align: center; border-left: solid #CCCC99 1px; }

.listManager .action { text-align: center; }

.permissions .radio { width: 60px; }

.addnewitem,
.noneFound { padding: 8px 10px; }
.addnewitem a { font-size: 1.1em; color: #993300; font-weight: bold; }

.noneFound { position: relative; }
.noneFound .button { position: absolute; top: 0; right: 4px; }

.paginate { position: relative; background: #cccc99; padding: 7px 10px;
            font-size: 1.1em; font-weight: bold; }
.paginate a { color: #993300; }
.paginate .pages { float: left; width: 70%; }
.paginate .all { float: right; width: 25%; text-align: right; }

.associations {
    width: 100%;
    border-style: hidden;
/* Turn off position: relative on this table so that the popup menu can go over
 * top of it in IE.  This also fixes the keyword autocomplete positioning
 * issues with Firefox. */
    position: static;
}
.associations th { 
    width: 125px; 
    text-align: right; 
    font-weight: bold; 
}
.associations th,
.associations td { 
    padding: 5px;
    font-size: 1em;
    vertical-align: top; 
    border-style: solid; 
    border-color: #cccc99; 
    border-width: 1px 0; 
}
.associations td.edit { width: 20px; vertical-align: top; }

dl.viewmeta { margin: 0; }
dl.viewmeta dt,
dl.viewmeta dd {
    font-size: 11px;
    border-bottom: solid white 1px;
    padding: 2px 0;
}

dl.viewmeta dt {
    float: left;
    width: 130px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    background-color: #E8E8CD;
}

dl.viewmeta dt {
    voice-family: "\"}\""; /* Hide from IE 5.x */
    voice-family: inherit;
    clear: left;
    margin: 0px 5px 0px 0px;
}
dl.viewmeta dd { margin: 0 0 0 5px; }
dl.viewmeta dd a { font-size: inherit; }

div.actions { background: #999966; padding: 2px 4px; }
div.addelement { text-align: right;}

.content legend a { font-size: 160%; text-decoration:none; }
.content legend:hover, .content h3:hover { cursor: move; }
.buttonBar .delete {
    font-weight: bold;
    text-align: center;
    color: #993300;
}

.buttonBar .checkin {
    padding: 4px 0;
    float: left;
    border-top: solid #CCCC99 1px;
}

.buttonBar .revert {
    text-align: right;
    float: right;
    padding: 4px 0;
}

.buttonBar .buttons {
    clear: both;
    border-top: solid #CCCC99 1px;
}

.buttonBar .save { 
    clear: both; float: left; 
    width: 40%; 
    text-align: right;
    padding: 5px 0 10px 0;
}
.buttonBar .cancel { 
    float: right;
    width: 40%;
    padding: 5px 0 10px 0;
}

#formBuilder { position: relative; padding-bottom: 10px; }
#formBuilder .types {
    float: left;
    width: 150px;
    list-style: none; list-style-image: none;
    margin: 0; padding: 10px;
}

/* Keep most things off by default */
#formBuilder .opts,
#formBuilder .fb_allowMultiple,
#formBuilder .fb_rows,
#formBuilder .fb_cols,
#formBuilder .fb_precision                  { display: none; }

/* Turn specific things on and off */
#formBuilder .radio      .opts,
#formBuilder .pulldown   .opts,
#formBuilder .select     .opts,
#formBuilder .codeselect .opts,

#formBuilder .select     .fb_allowMultiple,
#formBuilder .codeselect .fb_allowMultiple,

#formBuilder .textarea   .fb_rows,
#formBuilder .wysiwyg    .fb_rows,

#formBuilder .textarea   .fb_cols,
#formBuilder .wysiwyg    .fb_cols,

#formBuilder .date       .fb_precision    { display: block; }

#formBuilder .checkbox   .fb_value,
#formBuilder .date       .fb_value,

#formBuilder .checkbox   .size,
#formBuilder .radio      .size,
#formBuilder .pulldown   .size,

#formBuilder .select     .fb_maxlength,
#formBuilder .codeselect .fb_maxlength,
#formBuilder .wysiwyg    .fb_maxlength,
#formBuilder .date       .fb_maxlength,

#formBuilder .textarea   .fb_size,
#formBuilder .wysiwyg    .fb_size,
#formBuilder .date       .fb_size       { display: none; }

#formBuilder #fbDiv { float: left; }
#formBuilder .fbForm { 
    float: left;
    display: none;
}
#formBuilder label { font-weight: bold; }
#formBuilder label .small { font-weight: normal; }
#formBuilder dd { padding: 0; margin: 0 0 3px 0; }
#formBuilder dl { float: left; width: 170px; margin-right: 10px; }
#formBuilder dl.position,
#formBuilder .select dl.size,
#formBuilder .codeselect dl.size { margin-top: 0; clear: both; width: 340px; }
#formBuilder dl.position dt,
#formBuilder .select dl.size dt,
#formBuilder .codeselect dl.size dt { float: left; padding-right: 2px; line-height: 20px; }
#formBuilder dl.position dd,
#formBuilder .select dl.size dd,
#formBuilder .codeselect dl.size dd { float: left; margin-right: 10px; height: 20px; }
#formBuilder #fbFormText { display: block; } /* default */
#formBuilder .submit { float: left; clear: both; }

.alertTypeVars { position: absolute; right: 5px; margin-top: 3px; z-index: 1000; }

#containerprof fieldset {
    border: solid #CC9 1px;
    background: #F3F3F3;
    margin-right: 24px;
}
#containerprof fieldset fieldset {
    background: white;
}
#containerprof fieldset fieldset fieldset {
    background: #F3F3F3;
}
#containerprof h3,
#containerprof fieldset legend { background: transparent; font-weight: bold; font-size: 1em; }

#containerprof ul.elements {
  position: relative;
  margin: 0;
  padding: 10px;
/* Expanding elements causes IE to hide the contents of the container after
 * it's done expanding.  Fix it by turning on hasLayout. */
  *height: 1%;
}
#containerprof ul.elements li.container,
#containerprof ul.elements li.element {
  margin: 0 0 10px 0;
  position: relative;
/* .clearboth was causing problems in IE6, so it was removed, but clearing is
 * needed here. */
  _zoom: 1;
}
#containerprof ul.elements li.element h3.name {
  margin: 0; clear: both;
  float: left; width: 75px;
  text-align: right;
  padding: 3px 10px 0 0 !important;
  background: transparent !important;
}
#containerprof ul.elements li.container h3.name {
  background: #E8E8CD; margin: 0;
  padding: 5px 10px;
}
#containerprof ul.elements li.element .content {
  position: relative;
  margin-left: 85px;
  padding: 0 20px 0 0;

/* The floated h3.name combined with position: relative .content results in the
 * content dissappearing when the window isn't wide enough.  Putting IE6 into
 * hasLayout mode for .content fixes this problem, but then triggers another -
 * .content doesn't go under the float.  Fix this by removing the left margin.
 */
  _margin-left: 0;
  _zoom: 1;
}

#containerprof .content .delete,
#containerprof .content .copy {
  position: absolute;
  right: 0;
}
#containerprof .container .delete {
  top: 8px;
}
#containerprof .element .delete {
  top: 0;
}
#containerprof .container .copy {
  top: 27px;
}
#containerprof .element .copy {
  top: 19px;
}

#containerprof .actions { background: transparent; }
#containerprof .actions button { background: transparent; border: none; margin: 0 10px 0 0; padding: 2px; }
#containerprof div.popup-menu ul li { white-space: normal; }


div.autocomplete {
  position: absolute;
  width: 250px;
  max-height: 250px;
  overflow: scroll;
  background-color: white;
  border: 1px solid #888;
  margin: 0px;
  padding: 0px;
  z-index: 1000;
/* Move the autocomplete into the same position as other browsers for IE6 */
  _margin-left: -8px;
}
/* Fix the position of the IE6 iframe */
#category_autocomplete_choices_iefix, #add_keyword_autocomplete_iefix {
  _margin-left: -8px;
}
div.autocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
div.autocomplete ul li.selected { background-color: #ffb !important;}
div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px 4px;
  cursor: pointer;
}
div.autocomplete ul li span.value { display: none; }
div.autocomplete span.highlight { font-weight: bold; }

#new_cat_warning { color: #c00; font-weight: bold; padding-left: 10px; }

.adminBox .tabs {
  background: #F5F5E6 url("/media/images/horizline.gif") bottom left repeat-x;
}
.adminBox .tab { float: left; }
.adminBox .tab a {
  display: block;
  float: left;
  text-decoration: none;
  padding: 6px 10px;
}
.adminBox .tab.selected {
  background: white url("/media/images/box_tab_left.gif") bottom left no-repeat;
  font-weight: bold;
}
.adminBox .tab.selected.first {
  background-image: none;
}
.adminBox .tab.selected.first a {
  padding-left: 10px;
}
.adminBox .tab.selected a {
  background: url("/media/images/box_tab_right.gif") bottom right no-repeat;
  padding: 6px 14px;
}

/***************************************************
 * VIEW BOXES 
***************************************************/

pre {
    white-space: pre-wrap;
    word-break: normal;
    white-space: -moz-pre-wrap;
}

/******************************************************
 * DIFFS                                              *
 ******************************************************/
#diff span { display: block; }
#diff .file { overflow: auto; }
#diff .file .fileheader, #diff .file .hunkheader {color: #888888; }
#diff .hunk .ctx { background: #eeeeee; }
#diff .hunk ins { background: #ddffdd; text-decoration: none; }
#diff .hunk del { background: #ffdddd; text-decoration: none; }
#worddiff { padding: 1em; }
#worddiff .fileheader { color: #888; font-family: monospace; font-size: 1.2em; }
#worddiff .hunk ins   { color: #060; font-weight: bold; }
#worddiff .hunk del   { color: #b22; font-weight: bold; }

/******************************************************
 * CHEAT SHEET
 ******************************************************/
.cheat_sheet { font-size: 1.2em; line-height: 1.5em; }
.cheat_sheet ul { margin: 0; margin-left: 1em; padding: 0; list-style-type: none; }

/******************************************************
 * FIND/REPLACE                                       *
 ******************************************************/

.dialog { 
    display: none; 
    position: absolute; left: 0; top:0; 
    z-index: 300; 
    background: #e8e8cd; 
    padding: 0; 
    border-color: #996; border-style: solid; border-width: 0 5px 5px 5px; 
}
.dragger { line-height: 2.2em; background: #996; font-weight: bold;}
.dragger:hover { cursor: move; }
.dialogcontent { margin: 1em; }

.dialog dl { margin: 0; }
.dialog dl dt {
    float: left;
    width: 60px;
    text-align: right;
    font-weight: bold;
}
.dialog dl dd { margin-left: 70px; padding: 0 0 5px 0; }

.buttons {
    margin: 0;
    text-align: right;
    list-style: none;
    margin-top: 5px;
}

.buttons li {
    display: inline;
    margin-left: 1px;
 }

button:hover { cursor: pointer; }
button {
    font-weight: bold;
    font-size: .9em;
    color: black;
    background: #cc9;
    padding: 2px 7px;
    margin: 0;
    border-style: solid;
    border-width: 2px;
    border-top-color: #e8e8cd;
    border-left-color: #e8e8cd;
    border-right-color: #663;
    border-bottom-color: #663;
    vertical-align: middle; /* Needed to prevent extra space from showing up! */
}

button:active {
    border-top-color: #663;
    border-left-color: #663;
    border-right-color: #e8e8cd;
    border-bottom-color: #e8e8cd;
}

button.dclose {
    font-weight: 900;
    text-align: left;
    background: transparent;
    border: 0;
    color: #993300;
    margin: 0;
    font-size: 160%;
}

button.dclose:active { color: black; }

/******************************************************
 * HACKS                                              *
 ******************************************************/

/* Clear floats without additional HTML markup
   http://www.positioniseverything.net/easyclearing.html */
.clearboth:after,
.desk-top:after,
.desk .item:after,
.desk .item .head:after,
.desk .item .actions:after,
.desk_item .head:after,
form .row:after,
.paginate:after,
.viewmeta:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearboth,
.desk-top,
.desk .item,
.desk .item .head,
.desk .item .actions,
.desk_item .head,
form .row,
.paginate,
.viewmeta {
    *height: 1%;
}
/* .clearboth was causing rendering issues with the New Story, Story Profile,
 * and other pages in IE6.  The easy (and hacky) solution was to disable
 * .clearboth for IE6 and just clear where it's now broken. */
.clearboth {
    _height: auto;
}

/* double list manager. */
table.dlman select { width: 40em; } /* IE-specific setting */
table.dlman tr td > select { width:auto; min-width: 20em; } /* All other browsers */
table.dlman { margin: 1em; }
table.dlman tr.dlbtns { height: 30px; }

/* lightbox */
#overlay{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:#333;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.lightbox, .lightboxerror, .lightboxconflict, .lightboxforbidden {
    color: #333;
    display: none;
    position: absolute;
    top: 25%;
    left: 8%;
    width: 80%;
    height: 50%;
    padding: 1em;
    background-color: white;
    text-align: left;
    z-index:1001;
    overflow: auto;    
}

.lightbox .errorMsg { padding-top: 0; margin-top: 0; }

.lightboxconflict, .lightboxforbidden {
    width: 40%;
    left: 30%;
    height: 25%;
}

.lightboxerror     { border: 1em solid #cc0000; }
.lightboxconflict  { border: 1em solid #ff5500; }
.lightboxforbidden { border: 1em solid #800000; }

.lightboxerror .errorMsg     { color: #cc0000; }
.lightboxconflict .errorMsg  { color: #ff5500; }
.lightboxforbidden .errorMsg { color: #800000; }


.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }
