/**
 * Styles for navigation frame
 */
 
.btn-workflow { border-bottom: solid white 2px; }
.btn-workspace { border-bottom: solid white 2px; }
.btn-workflow img { display: block; }

a.selected, span.selected { font-weight: bold !important; }

ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: solid white 2px;
}
ul.workflows li.open {
  background: #CCCC99 url("../images/dkgreen_arrow_open.gif") 5px 6px no-repeat;
  font-weight: bold;
}
ul.workflows li.closed {
  background: #CCCC99 url("../images/mdgreen_arrow_closed.gif") 8px 5px no-repeat;
  font-weight: normal;
}
ul.workflows li a { 
  display: block;
  width: 100%;
  padding: 4px 0 4px 23px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

ul.workflows ul.submenu { background-color: white; padding: 10px 0 5px 0; }
ul.workflows ul.submenu li { font-weight: bold; color: #666633; padding: 0 0 10px 23px; }
ul.workflows ul.submenu ul.items li { padding: 0; }
ul.workflows ul.submenu li a {
  text-transform: none;
  font-weight: normal;
  padding: 0;
  display: inline;
  color: #669999;
  text-decoration: underline;
}

ul.admin li.open {
  background: #999966 url("../images/red_arrow_open.gif") 5px 5px no-repeat;
  font-weight: bold;
}
ul.admin li.closed {
  background: #999966 url("../images/white_arrow_closed.gif") 5px 2px no-repeat;
  font-weight: bold;
}
ul.admin li a { 
  display: block;
  width: 100%;
  padding: 4px 0 4px 23px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

ul.admin ul.submenu li.open {
  background: #CCCC99 url("../images/dkgreen_arrow_open.gif") 5px 6px no-repeat;
}
ul.admin ul.submenu li.closed {
  background: #CCCC99 url("../images/mdgreen_arrow_closed.gif") 8px 4px no-repeat;
}
ul.admin ul.submenu li.open a { color: black; border: none; font-weight: bold; }
ul.admin ul.submenu li.closed a { color: black; border: none; font-weight: normal; }

ul.admin ul.submenu ul.items { padding: 5px 0 5px 25px; background-color: white; }
ul.admin ul.submenu ul.items li a { 
  text-transform: none;
  font-weight: normal;
  padding: 0;
  display: inline;
  color: #CC6633;
  text-decoration: underline;
}