body       { font-family:Verdana,Helvetica,Arial,sans-serif; font-size:10px;}
td         { font-family:Verdana,Helvetica,Arial,sans-serif; font-size:10px;}
th         { font-family:Verdana,Helvetica,Arial,sans-serif; font-size:12px;}
pre        { padding: 1em; margin: 0; font-size: 1.1em; } 

p          { font-size:11px; line-height:16px; }
h3         { font-size:12px; line-height:17px;}
dt         { font-size:11px; line-height:16px; font-weight:bold; }
dd         { font-size:11px; line-height:16px; }
li         { font-size:11px; line-height:16px; }

a img      { border: none; }

form       { margin: 0; padding: 0; }
input      { vertical-align: middle; }
.textInput { font-family:Verdana,Helvetica,Arial,sans-serif; font-size:10px;}
.textArea  { font-family:Verdana,Helvetica,Arial,sans-serif; font-size:10px;}
.codeArea  { width: 99%; font-family: monospace; font-size: 1.1em; }

body {
    margin: 0;
    padding: 0;
    background: white url("/media/images/nav_background.gif") 8px 0px repeat-y;
}
#navFrame         { background: #666633; }
#help             { background: white; padding: 10px; }

#bricLogo { padding: 8px 8px 2px 8px; background: white; }
#mainContainer { position: relative; margin: 0 18px 8px 8px; }
#sideNav { position: absolute; top: 0; left: 0; width: 150px; z-index: 200; border: 0; }
#contentContainer { padding-left: 158px; }
#help #contentContainer { padding: 0; }

.adminBox,
.workflowBox,
.loginBox,
.searchBox,
.errorsBox,
.helpBox                       { margin-bottom: 10px; }

/***************************************************
 * PAGE HEADER
 ***************************************************/
#headerContainer               { position: relative; width: 100%; }
#headerContainer .adminBox,
#headerContainer .workflowBox,
#headerContainer .loginBox,
#headerContainer .helpBox,
#headerContainer .errorsBox    { margin-bottom: 0; margin-right: 240px; }
#headerContainer .buttons      { position: absolute; top: 0; right: 0; width: 240px; text-align: right; }
#headerContainer .buttons a    { margin: 0 2px; }
#breadcrumbs                   { position: relative; width: 100%; background-color: #999966; margin-bottom: 1em; }
#breadcrumbs p                 { margin: 0; padding: 3px 6px; }
#breadcrumbs .siteContext      { position: absolute; top: 0; right: 0; }


.header                    { position: relative; width: 100%; }
.header .caption           { background-color: #CCCC99; }
.fullHeader                { position: relative; color: white; font-weight: bold; width: 100%; }
.fullHeader a              { color: white; }
.fullHeader .number,
.fullHeader .rightText     { width: 8px; }
.adminBox .fullHeader      { background-color: #CC6633; }
.workflowBox .fullHeader   { background-color: #006666; }
.loginBox .fullHeader      { background-color: #006666; }
.searchBox .fullHeader     { background-color: #666633; }
.errorsBox .fullHeader     { background-color: #CC0000; }
.helpBox .fullHeader       { background-color: #006666; }

.number { 
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/media/images/curve_left.gif");
    background-repeat: no-repeat;
    background-position: top left; 
    color: white;
    line-height: 2em;
    height: 2em;
    width: 2.5em;
    text-align: center;
    font-weight: bold;
}
.workflowBox .header .number { background-color: #669999; }
.adminBox .header .number    { background-color: #D7713E; }
.caption                     { 
    text-transform: uppercase; 
    line-height: 2em; 
    height: 2em; 
    padding-left: 3em;
}
.fullHeader .caption         { padding-left: 14px; }
#headerContainer .caption    { padding-left: 14px; text-transform: none; font-size: 1.2em; }
.rightText { 
    position: absolute;
    top: 0;
    right: -1px; /* Fix strange 1px showing in IE */
    width: 30%;
    height: 2em;
    background: transparent url("/media/images/curve_right.gif") top right no-repeat;
    padding: 3px 10px 0 0;
    text-align: right;
}
.border              { border-style: solid; border-width: 0 1px 1px 1px; }
.adminBox .border    { border-color: #999966; }
.workflowBox .border { border-color: #669999; }
.helpBox .border     { border-color: #669999; padding: 1px 10px; }
.loginBox .border    { border-color: #669999; }
.searchBox .border   { border-color: #666633; background-color: #CCCC99; padding: 5px; }

/***************************************************
 * SEARCH BOXES
 ***************************************************/
.switchSearch   { text-transform: none; }
.searchBox div.alpha { margin: 10px 0;}
.searchBox div.alpha span { font-weight: bold; }
.searchBox div.alpha a { color: black; font-weight: bold; }

.blueLink       { font-size:10px; color:#669999;}
.blueLinkBold   { font-size:10px; color:#669999; font-weight:bold}
.orangeLink     { font-size:10px; color:#CC6633;}
.orangeLinkBold { font-size:10px; font-weight:bold; color:#CC6633;}
.darkBlueLink   { font-size:10px; color:#006666;}
.redLink        { font-size:10px; color:#993300; font-weight:bold}
.redLinkLight   { color:#993300; }
.redLinkLarge   { font-size:11px; color:#993300; font-weight:bold}
.whiteLink      { font-size:10px; color:#ffffff; text-decoration:none}
.whiteUnderlinedLink      { font-size:10px; color:#ffffff;}
.blackLink      { font-size:10px; color:#000000; text-decoration:none}
.blackLinkBold  { font-size:10px; color:#000000; font-weight:bold}
.whiteMedUnderlinedLink { font-size:11px; color:#ffffff;}
.blackUnderlinedLink { font-size:10px; color:#006666;}
.blackMedUnderlinedLink { font-size:11px; color:#006666;}
.sideNavActiveCell   {background:#999966}
.sideNavInactiveCell {background:#cccc99}
.sideNavAdminCell    {background:#999966}
.sideNavHeader       { font-size:10px; color:#000000; text-decoration:none}
.sideNavHeaderBold   { font-size:10px; font-weight:bold; color:#000000; text-decoration:none}
.sideNavHeaderBoldWhite { font-size:10px; font-weight:bold; color:#ffffff; text-decoration:none}

.workflowBold        { font-size:10px; font-weight:bold; color:#666633}
.workflowHeader      { font-size:10px; font-weight:bold; color:#666633}

.title       { font-size:12px;}
.subHeader   { font-size:11px;}
.label       { font-size:10px; font-weight:bold}
.redLabel    { font-size:10px; font-weight:bold; color:red}
.burgandyLabel { font-size:10px; font-weight:bold; color:#993300}
.whiteLabel  { font-size:10px; font-weight:bold; color:white}
.description { font-size:10px; color:blue}
.errorMsg    { color: red; font-weight: bold}
.statusMsg   { display: none; } /* Status messages are sent to the browser before the */
                                /* stylesheet.  If this style ever gets applied, that */
                                /* means there was an error and these messages should */
                                /* be hidden. (See bug 751) */
.radioLabel  { font-size:12px; font-weight:bold;}
.shortCategory  { border-bottom: dashed #666 1px; cursor: help; }

.adminTab       {background:#cc6633;  font-size:12px; color:white; font-weight:bold;}
.workflowTab    {background:#006666;  font-size:12px; color:white; font-weight:bold;}
.adminSubTab    {background:#cc6633;  font-size:10px; color:white; font-weight:bold;}
.whiteTextTab   { font-size:11px; color:white; font-weight:bold;}
.workflowSubTab {background:#006666;  font-size:10px; color:white; font-weight:bold;}
.darkHeader     {background:#666633;  font-size:10px; color:white; font-weight:bold;}
.medHeader      {background:#999966;}
.lightHeader    {background-color: #cccc99;}
.redHeader      {background:#993300;  font-size:12px; color:white; font-weight:bold;}
.tealHeader     {background:#669999;  font-size:12px; color:white; font-weight:bold;}
.greyHeader     {background:#cccccc;}
.tealHighlight  {background:#669999;  font-size:10px; color:white; font-weight:bold;}
.aliasHeader    {background:#99Cc99; font-style:italic;}

div.debug dt {
    float: left;
    margin-right: 2px;
    padding-right: 2px;
    width: 120px;
}

div.debug dt:after {
    content: ':'; /* Insert a colon. */
}

/* Desk item styling. */
.desk {
    position: relative;
    width: 580px;
    font-size: 11px;
    line-height: 11px;
}

.desk .buttonbar { text-align: right; }

.desk_item {
    padding-bottom: 8px;
    clear: left;
}

.desk_item a { 
    text-decoration: none;
    color: #006666;
    background-color: transparent;
}

.desk_item a:hover {
    text-decoration:underline;
}

.desk_item a.ref:link,
.desk_item a.ref:visited {
    color: #006666;
    background-color: transparent;
}

.desk_item .head {
    position: relative;
    margin: 0px;
    border: 0px;
    line-height: 20px;
    font-weight: bold;
}

.desk_item .head .idv,
.desk_item .head .idvsorted,
.desk_item .head .idvalias {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 97px;
    color: black;
    border-right: solid white 1px;
    padding-left: 3px;
}
.desk_item .head .idv { background:#cccc99; }
.desk_item .head .idvsorted { background:#669999; }
.desk_item .head .idvalias { background:#99cc99; }

.desk_item .head .title,
.desk_item .head .titlealias, 
.desk_item .head .titlesorted {
    position: relative;
    display: block;
    left: 101px;
    top: 0px;
    width: 456px;
    color: black;
    font-size: 11px;
    padding-left: 3px;
}
.desk_item .head .title { background:#cccc99; }
.desk_item .head .titlealias { background:#99cc99; }
.desk_item .head .titlesorted { background:#669999; color: white; }


.desk_item .head .need,
.desk_item .head .pub,
.desk_item .head .none,
.desk_item .head .aliasnone,
.desk_item .head .nonesorted {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 20px;
    text-align: center;
    color: white;
}
.desk_item .head .need { background: #993300; }
.desk_item .head .pub { background: #999934; }
.desk_item .head .none { background:#cccc99; }
.desk_item .head .aliasnone { background:#99cc99; }
.desk_item .head .nonesorted { background:#669999; }

.desk_item .head .sorted a {
    color: white;
    background:#669999;
}

.desk_item .body {
    border-right: solid #999966 1px;
    border-bottom: solid #999966 1px;
    margin: 0px;
}

.desk_item .body p, dl {
    margin: 0px;
    padding: 0px;
}

.desk_item .body input {
    margin: 0px;
}

.desk_item .body label {
    padding-left: 3px;
}

.desk_item .body p {
    border-top: solid white 1px;
    line-height: 20px;
}

.desk_item .body select {
    line-height: 20px;
}

.desk_item .body .mover {
    margin: 20px 0 21px 0;
    height: 22px;
}

.desk_item .body ul.actions {
    margin: 0;
    border-top: solid white 1px;
}

.desk_item .body ul.actions li {
    display: inline;
    line-height: 20px;
    padding: 0 4px 0 0;
}

.desk_item .body dl {
    float: left;
    border-right: solid #999966 1px;
    width: 360px;
    margin-right: 3px;
}

.desk_item .body dt, dd {
    line-height: 20px;
    border-top: solid white 1px;
}

.desk_item .body dt {
    font-weight: normal;
    color: black;
    background:#999966;
    float: left;
    width: 97px;
    text-align: right;
    padding-right: 3px;
    margin-right: 2px; /* Make three if we can't get the 1px to work in dd. */
    border-right: solid white 1px;
}

.desk_item .body dd {
    margin-left: 101px;
    padding: 0 0 0 1px;
}

.desk_item .body dt:after {
    content: ':'; /* Insert a colon. */
}

.desk_item .sorted {
    color: white;
    background:#669999;
    font-weight: bold;
}

form .row {
    position: relative;
    margin-bottom: 4px;
    z-index: 300;
}
form .row .label,
form .row .redLabel {
    float: left;
    width: 130px;
    text-align: right;
    line-height: 2;
}

form .row .input {
    padding-left: 140px;
    margin-left: 0;
    line-height: 2;
}
form .row .input p {
    margin: 0;
    padding: 0;
    line-height: 1.9;
}
form .alpha .row .input { line-height: 1.3em; }

/* Clear floats without additional HTML markup
   http://www.positioniseverything.net/easyclearing.html */
form .row:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
form .row { display: inline-block;}
/* Hides from IE-mac \*/
* html form .row {height: 1%;}
form .row {display: block;}
/* End hide from IE-mac */

table { padding: 0; border-collapse: collapse; position: relative; }
table tr.odd { background: #E8E8CD; }
table td.position,
table td.edit,
table td.delete { width: 100px; text-align: center; }

.listManager { width: 100%; border-style: hidden; }
.listManager th { background: #999966; color: black; padding: 3px 5px; 
                  text-align: left; vertical-align: bottom;
                  border: solid #cccc99 1px; }
.listManager th.sortup { 
    background: #669999 url("../images/listsort_up_teal.gif") center right no-repeat;
    padding-right: 17px; /* account for arrow: 7px + 10px padding */
    color: white;
}
.listManager th.sortdown { 
    background: #669999 url("../images/listsort_down_teal.gif") center right no-repeat;
    padding-right: 17px; /* account for arrow: 7px + 10px padding */
    color: white;
}
.adminBox .listManager th.sortup { 
    background: #993300 url("../images/listsort_up_red.gif") bottom right no-repeat;
}
.adminBox .listManager th.sortdown { 
    background: #993300 url("../images/listsort_down_red.gif") bottom right no-repeat;
}
.listManager th a { font-size: .85em; color: black; text-decoration: none; }
.listManager th.sortup a,
.listManager th.sortdown a { color: white; }
.listManager td { padding: 0 5px; border: solid #cccc99 1px; height: 2.3em; }
.listManager td.selected { font-weight: bold; }

.addnewitem   { padding: 7px 10px; }
.addnewitem a { font-size: 1.1em; color: #993300; font-weight: bold; }

.paginate { position: relative; background: #cccc99; padding: 7px 10px;
            font-size: 1.1em; font-weight: bold; }
.paginate a { color: #993300; }
.paginate .pages { float: left; width: 70%; }
.paginate .all { float: right; width: 25%; text-align: right; }

/* Clear floats without additional HTML markup
   http://www.positioniseverything.net/easyclearing.html */
.paginate:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.paginate { display: inline-block;}
/* Hides from IE-mac \*/
* html .paginate {height: 1%;}
.paginate {display: block;}
/* End hide from IE-mac */


dl.viewmeta { margin-bottom: 3px; border-bottom: solid #999966 1px;  }
dl.viewmeta dt,
dl.viewmeta dd { font-size: 1em; line-height: 2em; height: 2em; }
dl.viewmeta dt {
    float: left;
    clear: both;
    width: 130px;
    padding-right: 5px;
    text-align: right;
    background-color: #E8E8CD;
}
dl.viewmeta dd { margin-left: 140px; }
