body {
    margin: 0; padding: 0;
    background: white url("/media/images/nav_background.gif") 8px 0px repeat-y;
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    font-size: 70%;
}
th         { font-size: 1.1em; }
pre        { font-size: 1.3em; padding: 1em; margin: 0; } 
code       { font-size: 1.3em; }
h3         { font-size: 1.1em; }

a          { color: #006666; }
a img      { border: none; vertical-align: middle; }

form       { margin: 0; padding: 0; }
input      { vertical-align: middle; }
.textInput { font-family: Verdana, Helvetica, Arial, sans-serif; }
textarea { 
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    font-size: 1em;
    width: 99%;
}
.editmeta .textarea textarea { width: 50%; }
.codearea textarea { font-family: monospace; font-size: 1.2em; }

#navFrame         { background: #666633; }
#help             { background: white; padding: 10px; }

#bricLogo { position: absolute; top: 0; left: 0; background: white; padding-top: 8px; }
#mainContainer { position: relative; margin: 0px 8px 8px 8px; min-width: 740px; }
#sideNav { position: absolute; top: 55px; left: 0; width: 150px; z-index: 200; border: 0; }
#contentContainer { padding: 8px 0 0 158px; }
#help #contentContainer { padding: 0; }

.adminBox,
.workflowBox,
.loginBox,
.searchBox,
.errorsBox,
.helpBox { margin-bottom: 10px; line-height: 1.4em; }
.helpBox h3 { color: #006666; }
.helpBox dt { font-weight: bold; }
.helpBox dd { margin: 0; padding: 0 0 .7em 0; }
.helpBox dl dl { margin: 0 0 0 2em; }

/* Use smart quotes where possible. */
.helpBox p>q,
.helpBox a>q,
.helpBox blockquote>q,
.helpBox h2>q,
.helpBox h3>q,
.helpBox li>q,
.helpBox dt>q,
.helpBox dd>q,
.helpBox strong>q,
.helpBox em>q {
    quotes: "\201c" "\201d" "\2018" "\x2019"
}

.padding { padding: 10px; }


/***************************************************
 * PAGE HEADER
 ***************************************************/
#headerContainer               { position: relative; width: 100%; padding-top: 20px; }
#headerContainer .adminBox,
#headerContainer .workflowBox,
#headerContainer .loginBox,
#headerContainer .helpBox,
#headerContainer .errorsBox    { margin-bottom: 0; margin-right: 240px; }
#headerContainer .buttons      { position: absolute; top: 20px; right: 0; width: 240px; text-align: right; }
#headerContainer .buttons a    { margin: 0 2px; }
#headerContainer .userinfo     { position: absolute; bottom: 35px; right: 0; }
#breadcrumbs                   { position: relative; width: 100%; background-color: #999966; margin-bottom: 1em; }
#breadcrumbs p                 { margin: 0; padding: 5px 6px; }
#breadcrumbs .siteContext      { position: absolute; top: 0; right: 0; }


.header      { position: relative; width: 100%; }
.fullHeader  { position: relative; width: 100%; color: white; font-weight: bold; }
.header      .caption           { background-color: #CCCC99; }
.fullHeader  .caption a     { color: white; }
.fullHeader  .number,
.fullHeader  .rightText     { width: 8px; }
.adminBox    .fullHeader    { background-color: #CC6633; }
.workflowBox .fullHeader    { background-color: #006666; }
.loginBox    .fullHeader    { background-color: #006666; }
.searchBox   .fullHeader    { background-color: #666633; }
.errorsBox   .fullHeader    { background-color: #CC0000; }
.helpBox     .fullHeader    { background-color: #006666; }

.number { 
    position: absolute; top: 0; left: 0;
    background: transparent url("/media/images/curve_left.gif") top left no-repeat;
    line-height: 2em;
    width: 2.5em;
    color: white;
    font-weight: bold;
    text-align: center;
}
.workflowBox .header .number { background-color: #669999; }
.adminBox    .header .number { background-color: #D7713E; }
            
.caption { text-transform: uppercase; line-height: 2em; padding-left: 3em; }
.fullHeader .caption { padding-left: 10px; }
#headerContainer .caption { padding-left: 10px; text-transform: none; font-size: 1.2em; }
.rightText { 
    position: absolute;
    top: 0; right: -1px; /* Fix strange 1px showing in IE */
    width: 30%;
    line-height: 2em;
    background: transparent url("/media/images/curve_right.gif") top right no-repeat;
    padding: 2px 10px 0 0;
    text-align: right;
}
.border              { border-style: solid; border-width: 0 1px 1px 1px; }
.adminBox .border    { border-color: #999966; }
.workflowBox .border { border-color: #669999; }
.helpBox .border     { border-color: #669999; padding: 1px 10px; }
.loginBox .border    { border-color: #669999; padding: 5px; }
.searchBox .border   { border-color: #666633; background-color: #CCCC99; padding: 5px; }

/***************************************************
 * SEARCH BOXES
 ***************************************************/
.switchSearch   { text-transform: none; }
.searchBox div.alpha { margin: 10px 0;}
.searchBox div.alpha span { font-weight: bold; }
.searchBox div.alpha a { color: black; font-weight: bold; }

.orangeLink     { font-size:10px; color:#CC6633;}
.orangeLinkBold { font-size:10px; font-weight:bold; color:#CC6633;}
.redLink        { font-size:10px; color:#993300; font-weight:bold}
.whiteLink      { font-size:10px; color:#ffffff; text-decoration:none}
.whiteUnderlinedLink      { font-size:10px; color:#ffffff;}
.blackLink      { font-size:10px; color:#000000; text-decoration:none}
.blackLinkBold  { font-size:10px; color:#000000; font-weight:bold}
.whiteMedUnderlinedLink { font-size:11px; color:#ffffff;}
.blackUnderlinedLink { font-size:10px; color:#006666;}
.blackMedUnderlinedLink { font-size:11px; color:#006666;}

.label          { font-weight: bold }
.label.required { font-weight: bold; color: red}
.burgandyLabel { font-size:10px; font-weight:bold; color:#993300}
.errorMsg    { color: red; font-weight: bold}
.statusMsg   { display: none; } /* Status messages are sent to the browser before the */
                                /* stylesheet.  If this style ever gets applied, that */
                                /* means there was an error and these messages should */
                                /* be hidden. (See bug 751) */
.radioLabel  { font-size:12px; font-weight:bold;}
.shortCategory  { border-bottom: dashed #666 1px; cursor: help; }

.darkHeader     {background:#666633;  font-size:10px; color:white; font-weight:bold;}
.medHeader      {background:#999966;}
.lightHeader    {background-color: #cccc99;}
.aliasHeader    {background:#99Cc99; font-style:italic;}

div.debug .hide    { display: none; }
div.debug .content { display: none; }

div.debug.expanded .show    { display: none; }
div.debug.expanded .hide    { display: block; }
div.debug.expanded .hide a  { font-size: .8em; font-weight: normal; }
div.debug.expanded .content { display: block; }

div.debug dt {
    float: left;
    margin-right: 2px;
    padding-right: 2px;
    width: 120px;
}

div.debug dt:after {
    content: ':'; /* Insert a colon. */
}

/* Desk item styling. */
.desk {
    position: relative;
    font-size: 11px;
    line-height: 11px;
}

.jump { float: right; padding-top: 3px; }
.desk-top { position: relative; background-color: #666633; color: white; padding: 3px 5px; margin: 0px 0px 10px 0px; }
.desk-top h1 { float: left; font-size: 1.2em; padding: 2px 5px; line-height: 1.4em; margin: 0; }
.desk-top .sort { float: right; text-align: right; font-size: 1em;  padding: 2px 20px 0px 0px; }
.desk-top .sort select { font-size: 1em; }

.desk .buttonbar { text-align: right; }

.desk .item {
    position: relative;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #CCCC99;
    border-width: 0 1px 1px 1px;  
}

.desk .item .sorted {
    font-weight: bold;
}

.desk .item dd.sorted,
.desk .item div.sorted {
    background: #99CC99 !important;
}

.desk .item .head { 
    position: relative;
    background: #cccc99; 
    line-height: 2em;
    font-weight: bold;
}
.desk .item .head .status {
    position: absolute;
    top: 0;
    left: 0;
    padding: .3em 0 0 .3em;
}
.desk .item .head .version { 
    float: left; 
    width: 10em; 
    background: #cccc99;
    border-right: solid white 1px;
    text-align: right;
    padding: 0 .5em;
}
.desk .item .head .title {
    /* float: left; */
    padding: 0 .5em 0 10.5em;
    font-size: 1.1em;
}
.desk .item .head .pubstatus {
    /* float: right; */
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 0 .5em;
    color: white; 
    cursor: default;
}
.desk .item .head .need { background: #993300; }
.desk .item .head .pub { background: #999934; }

.listManager .need { font-weight: bold; color: #993300; font-size: 130% }
.listManager .pub  { font-weight: bold; color: #999934; font-size: 130% }

.desk .item .body { position: relative; }

.desk .item dl { 
    margin: 0 255px 0 0; 
    padding: 0; 
    border-style: solid;
    border-color: #CCCC99;
    border-width: 0 1px 0 0; 
}
.desk .item dt, .desk .item dd {
    padding: 5px .5em;
    border-top: solid white 1px;
}
.desk .item dt { 
    clear: both; 
    float: left; 
    width: 10em; /* plus 1em padding */ 
    text-align: right;
    background: #999966;
    border-right: solid white 1px;
}
.desk .item dd { margin-left: 11em; }

.desk .item .actions { 
    position: absolute;
    top: 0; right: 0px;
    width: 240px;
    background: transparent;
    border-top: solid white 1px;
    padding: 0 5px;
}
.desk .item .actions p { margin: 5px 0 0 0; }
.desk .item .actions .mover { 
    margin: 0;
    padding: 15px 0 10px 0;
}
.desk .short .actions .mover {
    padding: 8px 0 0 0;
}
.desk .item .actions .mover select {
    vertical-align: middle;
}
.desk .item .actions ul { 
    margin: 0; 
    padding: 0; 
    list-style: none; 
}
.desk .item .actions ul li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 2em;
}
.desk .item .actions ul li.inactive { color: #999; }
.desk .item .actions ul.action { float: left; }
.desk .item .actions ul.view { float: right; }
.desk .item .actions ul.action li { padding: 0px 15px 0px 0px; }
.desk .item .actions ul.view li   { padding: 0px 15px 0px 0px; }

.desk .item .actions li,
.desk .item .actions img,
.desk .item .actions input,
.desk .item .actions select,
.desk .item .actions button { vertical-align: middle; }
.desk .item .actions select { font-size: 1em; }

.desk .item .actions button {
    font-size: 1em;
    border-color: transparent;
    background-color: transparent;
    padding: 2px;
    cursor: pointer;
}
.desk .item .actions button.delete {
    background-image: url("/media/images/delete.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    padding-left: 18px;
}
.desk .item .actions button.clone {
    background-image: url("/media/images/copy.png");
    background-position: 1px 1px;
    background-repeat: no-repeat;
    padding-left: 18px;
}

form .row {
    position: relative;
    margin-bottom: 4px;
    z-index: 300;
}
form .row .label {
    float: left;
    width: 130px;
    padding-right: 5px;
    text-align: right;
    line-height: 2;
}
form .row .input {
    padding-left: 140px;
    white-space: nowrap;
    line-height: 2;
}
form .row .input p {
    margin: 0;
    padding: 0;
    line-height: 1.9;
}
form .alpha .row .input { line-height: 1.3em; }

table { padding: 0; border-collapse: collapse; position: relative; border: none; }
table tr.odd { background: #f5f5e6; }
table td.name { 
    width: 8em; 
    padding-right: 5px;
    text-align: right; 
    font-weight: bold; 
    vertical-align: top; 
    padding-top: 12px; 
}
table td.value { padding-top: 7px; }
table td.position,
table td.edit { width: 50px; text-align: center; }
table td.delete { white-space: nowrap; }

.listManager,
.containerProf { width: 100%; border-style: hidden; }
.listManager th,
.containerProf th{ background: #999966; color: black; padding: 5px;
                   text-align: left; vertical-align: bottom;
                   border: solid #cccc99 1px; }
.listManager th.sortup { 
    background: #669999 url("../images/listsort_up_teal.gif") center right no-repeat;
    padding: 0;
    color: white;
}
.listManager th.sortdown { 
    background: #669999 url("../images/listsort_down_teal.gif") center right no-repeat;
    padding: 0;
    color: white;
}
.adminBox .listManager th.sortup { 
    background: #993300 url("../images/listsort_up_red.gif") center right no-repeat;
}
.adminBox .listManager th.sortdown { 
    background: #993300 url("../images/listsort_down_red.gif") center right no-repeat;
}
.listManager th a { display: block; font-size: .85em; color: black; text-decoration: none; }
.listManager th.sortup a,
.listManager th.sortdown a { padding: 5px 17px 5px 5px; color: white; }
.listManager td,
.containerProf td { padding: 2px 5px; border-bottom: solid #e7e7c8 1px; border-right: solid #e7e7c8 1px; height: 2.3em; }
.listManager td.selected { font-weight: bold; }

th.checkbox, th.radio,
td.checkbox, td.radio { width: 10%; text-align: center; }

.containerProf td { border: none; }
.containerProf .name { width: 15%; text-align: right; }
.containerProf .position,
.containerProf .delete { width: 8%; text-align: center; border-left: solid #CCCC99 1px; }

.listManager .action { text-align: center; }

.permissions .radio { width: 60px; }

.addnewitem,
.noneFound { padding: 8px 10px; }
.addnewitem a { font-size: 1.1em; color: #993300; font-weight: bold; }

.noneFound { position: relative; }
.noneFound .button { position: absolute; top: 0; right: 4px; }

.paginate { position: relative; background: #cccc99; padding: 7px 10px;
            font-size: 1.1em; font-weight: bold; }
.paginate a { color: #993300; }
.paginate .pages { float: left; width: 70%; }
.paginate .all { float: right; width: 25%; text-align: right; }

.associations { width: 100%; border-style: hidden; }
.associations th { 
    width: 125px; 
    text-align: right; 
    font-weight: bold; 
}
.associations th,
.associations td { 
    padding: 5px;
    font-size: 1em;
    vertical-align: top; 
    border-style: solid; 
    border-color: #cccc99; 
    border-width: 1px 0; 
}
.associations td.edit { width: 20px; vertical-align: top; }

dl.viewmeta { margin: 0; }
dl.viewmeta dt,
dl.viewmeta dd {
    font-size: 11px;
    border-bottom: solid white 1px;
    padding: 2px 0;
}

dl.viewmeta dt {
    float: left;
    width: 130px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    background-color: #E8E8CD;
}

dl.viewmeta dt {
    voice-family: "\"}\""; /* Hide from IE 5.x */
    voice-family: inherit;
    clear: left;
    margin: 0px 5px 0px 0px;
}
dl.viewmeta dd { margin: 0 0 0 5px; }
dl.viewmeta dd a { font-size: inherit; }

div.actions { background: #999966; padding: 2px 4px; }
div.addelement { text-align: right;}

.buttonBar .delete {
    font-weight: bold;
    text-align: center;
    color: #993300;
}

.buttonBar .checkin {
    padding: 4px 0;
    float: left;
    border-top: solid #CCCC99 1px;
}

.buttonBar .revert {
    text-align: right;
    float: right;
    padding: 4px 0;
}

.buttonBar .buttons {
    clear: both;
    border-top: solid #CCCC99 1px;
}

.buttonBar .save { 
    clear: both; float: left; 
    width: 40%; 
    text-align: right;
    padding: 5px 0 10px 0;
}
.buttonBar .cancel { 
    float: right;
    width: 40%;
    padding: 5px 0 10px 0;
}

#formBuilder { position: relative; padding-bottom: 10px; }
#formBuilder .types {
    float: left;
    width: 150px;
    list-style: none; list-style-image: none;
    margin: 0; padding: 10px;
}

/* Keep most things off by default */
#formBuilder .opts,
#formBuilder .fb_allowMultiple,
#formBuilder .fb_rows,
#formBuilder .fb_cols,
#formBuilder .fb_precision                  { display: none; }

/* Turn specific things on and off */
#formBuilder .radio      .opts,
#formBuilder .pulldown   .opts,
#formBuilder .select     .opts,
#formBuilder .codeselect .opts,

#formBuilder .select     .fb_allowMultiple,
#formBuilder .codeselect .fb_allowMultiple,

#formBuilder .textarea   .fb_rows,
#formBuilder .wysiwyg    .fb_rows,

#formBuilder .textarea   .fb_cols,
#formBuilder .wysiwyg    .fb_cols,

#formBuilder .date       .fb_precision    { display: block; }

#formBuilder .checkbox   .fb_value,
#formBuilder .date       .fb_value,

#formBuilder .checkbox   .size,
#formBuilder .radio      .size,
#formBuilder .pulldown   .size,

#formBuilder .select     .fb_maxlength,
#formBuilder .codeselect .fb_maxlength,
#formBuilder .wysiwyg    .fb_maxlength,
#formBuilder .date       .fb_maxlength,

#formBuilder .textarea   .fb_size,
#formBuilder .wysiwyg    .fb_size,
#formBuilder .date       .fb_size       { display: none; }

#formBuilder #fbDiv { float: left; }
#formBuilder .fbForm { 
    float: left;
    display: none;
}
#formBuilder label { font-weight: bold; }
#formBuilder label .small { font-weight: normal; }
#formBuilder dd { padding: 0; margin: 0 0 3px 0; }
#formBuilder dl { float: left; width: 170px; margin-right: 10px; }
#formBuilder dl.position,
#formBuilder .select dl.size,
#formBuilder .codeselect dl.size { margin-top: 0; clear: both; width: 340px; }
#formBuilder dl.position dt,
#formBuilder .select dl.size dt,
#formBuilder .codeselect dl.size dt { float: left; padding-right: 2px; line-height: 20px; }
#formBuilder dl.position dd,
#formBuilder .select dl.size dd,
#formBuilder .codeselect dl.size dd { float: left; margin-right: 10px; height: 20px; }
#formBuilder #fbFormText { display: block; } /* default */
#formBuilder .submit { float: left; clear: both; }

.alertTypeVars { position: absolute; right: 5px; margin-top: 3px; z-index: 1000; }


#containerprof ul { margin: 0; padding: 10px; }
#containerprof ul li {
  position: relative; margin: 0 0 10px 0;
}
#containerprof ul li.element {
  padding: 10px;
}
#containerprof ul li.container {
  border: solid #E8E8CD 1px;
}
#containerprof ul li ul {
  padding: 10px;
}
#containerprof ul li li {
  padding: 0 !important; margin: 0; border: none;
}
#containerprof ul li.element .name { 
  margin: 0; clear: both;
  float: left; width: 75px;
  text-align: right;
  padding: 3px 10px 0 0 !important;
  background: transparent !important;
}
#containerprof ul li.container .name {
  background: #E8E8CD; margin: 0;
  padding: 5px 10px;
}
#containerprof ul li.element .content {
  float: left;
  padding: 0;
}

/******************************************************
 * DIFFS                                              *
 ******************************************************/
#diff span { display: block; }
#diff .file { overflow: auto; }
#diff .file .fileheader, #diff .file .hunkheader {color: #888888; }
#diff .hunk .ctx { background: #eeeeee; }
#diff .hunk ins { background: #ddffdd; text-decoration: none; }
#diff .hunk del { background: #ffdddd; text-decoration: none; }
#worddiff { padding: 1em; }
#worddiff .fileheader { color: #888; font-family: monospace; font-size: 1.2em; }
#worddiff .hunk ins   { color: #060; font-weight: bold; }
#worddiff .hunk del   { color: #b22; font-weight: bold; }

/******************************************************
 * CHEAT SHEET
 ******************************************************/
.cheat_sheet { font-size: 1.2em; line-height: 1.5em; }
.cheat_sheet ul { margin: 0; margin-left: 1em; padding: 0; list-style-type: none; }

/******************************************************
 * FIND/REPLACE                                       *
 ******************************************************/

.dialog { 
    display: none; 
    position: absolute; left: 0; top:0; 
    z-index: 300; 
    background: #e8e8cd; 
    padding: 0; 
    border-color: #996; border-style: solid; border-width: 0 5px 5px 5px; 
}
.dragger { line-height: 2.2em; background: #996; font-weight: bold;}
.dragger:hover { cursor: move; }
.dialogcontent { margin: 1em; }

.dialog dl { margin: 0; }
.dialog dl dt {
    float: left;
    width: 60px;
    text-align: right;
    font-weight: bold;
}
.dialog dl dd { margin-left: 70px; padding: 0 0 5px 0; }

.buttons {
    margin: 0;
    text-align: right;
    list-style: none;
    margin-top: 5px;
}

.buttons li {
    display: inline;
    margin-left: 1px;
 }

button:hover { cursor: pointer; }
button {
    font-weight: bold;
    font-size: 12px;
    color: black;
    background: #cc9;
    padding: 3px 7px;
    margin: 0;
    border-style: solid;
    border-width: 2px;
    border-top-color: #e8e8cd;
    border-left-color: #e8e8cd;
    border-right-color: #663;
    border-bottom-color: #663;
    vertical-align: bottom; /* Needed to prevent extra space from showing up! */
}

button:active {
    border-top-color: #663;
    border-left-color: #663;
    border-right-color: #e8e8cd;
    border-bottom-color: #e8e8cd;
}

/******************************************************
 * HACKS                                              *
 ******************************************************/

/* Clear floats without additional HTML markup
   http://www.positioniseverything.net/easyclearing.html */
.clearboth:after,
.desk-top:after,
.desk .item:after,
.desk .item .head:after,
.desk .item .actions:after,
.desk_item .head:after,
form .row:after,
.paginate:after,
.viewmeta:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearboth,
.desk-top,
.desk .item,
.desk .item .head,
.desk .item .actions,
.desk_item .head,
form .row,
.paginate,
.viewmeta { display: inline-block;}
/* Hides from IE-mac \*/
* html .clearboth,
* html .desk-top,
* html .desk .item,
* html .desk .item .head,
* html .desk .item .actions,
* html .desk_item .head,
* html form .row,
* html .paginate,
* html .viewmeta {height: 1%;}
.clearboth,
.desk-top,
.desk .item,
.desk .item .head,
.desk .item .actions,
.desk_item .head,
form .row,
.paginate,
.viewmeta {display: block;}
/* End hide from IE-mac */
