<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<title>System Error</title>
<head>

<body bgcolor="blue" text="white">
<h1>System Error</h1>

% if (Bric::Config::QA_MODE) {
<& /widgets/qa/qa.mc &>
% }

<font face="Verdana, Helvetica, Arial">
<p><b>An exception was thrown:</b></p>
<b>Fault Type:</b> <% ref $fault %><br />
<b>Timestamp:</b> <% strfdate($fault->get_timestamp) %><br />
<b>Package:</b> <% $fault->get_pkg %><br />
<b>Filename:</b> <% $fault->get_filename %><br />
<b>Line:</b> <% $fault->get_line %><br />
<b>Message:</b> <% $fault->get_msg . ($more_err ? "\n\n$more_err" : '') %>
% if ($is_burner_error) {
</p>
% } else {
<br /><b>Payload:</b> <% $pay %></p>
% }
</font>

% if ($is_burner_error) {
<font face="Verdana, Helvetica, Arial"><p><b>Payload:</b></font>
<table border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td align="right"><span class="label">Class:</span></td>
        <td align="left"><% $pay->{class} %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Action:</span></td>
        <td align="left"><% $pay->{action} %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Output Channel:</span></td>
        <td align="left"><% $pay->{context}{oc}->get_name %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Category:</span></td>
        <td align="left"><% $pay->{context}{cat}->get_name %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Element:</span></td>
        <td align="left"><% $pay->{context}{elem}->get_name %></td>
    </tr>
</table>
% }
<font face="Verdana, Helvetica, Arial">
<b>Stack:</b><br /><% join("<br />\n", map { ref $_ ? join(' - ', @{$_}[1,2,3]) : $_ } @{$fault->get_stack} ) %>

<br /><br />

<& '/widgets/debug/debug.mc' &>

<hr>
<address><font face="Verdana, Helvetica, Arial"><a href="mailto:bricolage-bugs@lists.sourceforge.net">Email the Bricolage Developers</a></font></address>
</body>
</html>

<%args>
$fault => undef
$more_err => undef
</%args>
<%init>;
# Clear out messages - they're likely irrelevant now.
clear_msg();
unless (UNIVERSAL::isa($fault, 'Bric::Util::Fault::Exception')) {
    my %h = $r->headers_in;
    my $payload = isa_mason_exception($fault) ? $fault->as_brief : $h{BRIC_ERR_PAY};
    if (UNIVERSAL::isa($payload, 'Bric::Util::Fault::Exception')) {
        $payload = $payload->get_msg();
    }
    $fault = Bric::Util::Fault::Exception::AP->new(
      { msg => $h{BRIC_ERR_MSG} || 'No error message found',
        payload => $payload });
}
my $pay = $fault->get_payload;
my $is_burner_error = ($fault->get_msg =~ /^Unable to find template/);
</%init>
