<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<title>System Error</title>
<head>

<body bgcolor="blue" text="white">
<h1>System Error</h1>

% if (Bric::Config::QA_MODE) {
<& /widgets/qa/qa.mc &>
% }

<font face="Verdana, Helvetica, Arial">
<p><b>An exception was thrown:</b></p>
<b>Fault Type:</b> <% $fault->description %><br />
<b>Timestamp:</b> <% strfdate($fault->time) %><br />
<b>Package:</b> <% $fault->package %><br />
<b>Filename:</b> <% $fault->file %><br />
<b>Line:</b> <% $fault->line %><br />
<b>Message:</b> <% $fault->error . ($more_err ? "\n\n$more_err" : '') %>
% if ($is_burner_error) {
</p>
% } else {
<br /><b>Payload:</b> <% "$pay" %></p>
% }
</font>

<font face="Verdana, Helvetica, Arial"><p><b>Request args:</b></font>
<table border="0" cellpadding="2" cellspacing="2">
% foreach my $arg (keys %req_args) {
    <tr>
        <td align="right"><span class="label"><% $arg %>:</span></td>
        <td align="left"><% $req_args{$arg} %></td>
    </tr>
% }
</table>

% if ($is_burner_error) {
<font face="Verdana, Helvetica, Arial"><p><b>Payload:</b></font>
<table border="0" cellpadding="2" cellspacing="2">
    <tr>
        <td align="right"><span class="label">Class:</span></td>
        <td align="left"><% $pay->{class} %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Action:</span></td>
        <td align="left"><% $pay->{action} %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Output Channel:</span></td>
        <td align="left"><% $pay->{context}{oc}->get_name %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Category:</span></td>
        <td align="left"><% $pay->{context}{cat}->get_name %></td>
    </tr>
    <tr>
        <td align="right"><span class="label">Element:</span></td>
        <td align="left"><% $pay->{context}{elem}->get_name %></td>
    </tr>
</table>
% }
<font face="Verdana, Helvetica, Arial">
<b>Stack:</b><br /><% join("<br />\n", @{$fault->get_stack} ) %>

<br /><br />

<& '/widgets/debug/debug.mc' &>

<hr>
<address><font face="Verdana, Helvetica, Arial"><a href="mailto:bricolage-bugs@lists.sourceforge.net">Email the Bricolage Developers</a></font></address>
</body>
</html>

<%init>;
# Clear out messages - they're likely irrelevant now.
clear_msg();

# exception object ($fault) and $more_args are now always
# in pnotes, not passed in %args
my $fault = $r->pnotes('BRIC_EXCEPTION');
warn '$fault not an exception object' unless isa_exception($fault);

my $more_err = $r->pnotes('BRIC_MORE_ERR');

my $pay = isa_bric_exception($fault) ? ($fault->payload || '') : '';

my $is_burner_error = ($fault->error =~ /^Unable to find template/);
my %req_args = HTML::Mason::Request->instance->request_args;
</%init>
