% if ($frame) {
<& /widgets/wrappers/sharky/table_top.mc,
   caption => $header,
   number  => $number
&>
% }
<table border="0" width="578" cellpadding="0" cellspacing="0">
<tr>
    <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
    <td width="100" align="right" class="medHeader"><span class="label"><% $lang->maketext('ID') %>:&nbsp;</span></td>
    <td width="400">&nbsp;<% $media->get_id %></td>
    <td width="70" rowspan=7 valign="bottom"><% $button %></td>
</tr>
<tr>
<td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
</tr>
<tr>
    <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
    <td width="100" align="right" class="medHeader"><span class="label"><% $lang->maketext('Name') %>:&nbsp;</span></td>
    <td width="400" class="fieldcontent">&nbsp;<% $media->get_name %></td>
</tr>
<tr>
<td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
</tr>
<tr>
    <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
    <td width="100" align="right" class="medHeader"><span class="label"><% $lang->maketext('Media Type Element') %>:&nbsp;</span></td>
    <td width="400">&nbsp;<% $media->get_element_name %></td>
</tr>
<tr>
<td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
</tr>
<tr>
    <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
    <td width="100" align="right" class="medHeader"><span class="label"><% $lang->maketext('URI') %>:&nbsp;</span></td>
    <td width="400">&nbsp;<% $m->comp(
        '/widgets/profile/preview_link.mc',
        doc   => $media,
        type  => 'media',
        title => $media->get_uri,
    ) %></td>
</tr>
  </table>
% if ($frame) {
<& /widgets/wrappers/sharky/table_bottom.mc &>
%}
<%args>
$widget
$header => undef
$number => undef
$frame  => undef
$button => "&nbsp;"
</%args>

<%init>
my $media = get_state_data($widget, 'asset');
$header ||= 'Media Info';
</%init>
