% if ($frame) {
<& /widgets/wrappers/table_top.mc, 
   caption => $header,
   number  => $number
&>
% }
<dl class="viewmeta" title="ID: <% $tmpl->get_id %>
UUID: <% $tmpl->get_uuid %>">
  <dt><% $lang->maketext('Name') %>:</dt>
  <dd><% $tmpl->get_name %></dd>
  
  <dt><% $lang->maketext('Category') %>:</dt>
  <dd><% $tmpl->get_category_name %></dd>
  
  <dt><% $lang->maketext('Output Channel') %>:</dt>
  <dd><% $tmpl->get_output_channel_name %></dd>
  
  <dt><% $lang->maketext('URI') %>:</dt>
  <dd><% $tmpl->get_uri %></dd>
</dl>
% if ($frame) {
<& /widgets/wrappers/table_bottom.mc &>
%}
<%args>
$widget
$header => undef
$number => undef
$frame  => undef
</%args>

<%init>
my $tmpl = get_state_data($widget, 'asset');
$header ||= 'Template Info';
</%init>
