% # Do paging
% if ($num_pages) {

<div class="paginate">
    <div class="pages">
        <% $prev_link %>
%       foreach my $page (0 .. $num_pages) {
%           if ($page * $limit == $offset) {
                <span class="current"><% $page + 1 %></span>&nbsp;
%           } else {
%               my $off = $page * $limit;
                <a href="<% $url %>?offset=<% $off %>" class="prev"><% $page + 1 %></a>&nbsp;
%           }
%       }
        <% $next_link %>
    </div>
% unless ($show_all) {
    <div class="all"><a href="<% $url %>?show_all=1">Show All</a></div>
% }
</div>
% }  # if $num_pages
<br />

</div><!-- end .desk -->

<%args>
$offset => 0
$show_all => undef
</%args>
<%init>
# desk_asset matches Callback/Desk.pm class_key
my $d = $r->pnotes('desk_asset.objs');    # from desk.mc
$d->{story} ||= [];  $d->{media} ||= [];  $d->{template} ||= [];
my $num_objs = @{$d->{story}} + @{$d->{media}} + @{$d->{template}};
return unless $num_objs;

# Paging
my $limit = get_pref('Search Results / Page');
my $num_pages = ($num_objs <= $limit)
  ? 0
  : $limit
    ? int($num_objs / $limit)
    : 0;

my $colspan = $show_all ? '' : 'colspan="2"';
my $url = $r->uri;

my $prev_offset = $offset ? $offset - $limit : 0;
my $next_offset = $offset + $limit;
$next_offset = $num_pages * $limit if $next_offset > $num_objs;
my ($prev_link, $next_link) = ('', '');
if ($offset) {
    $prev_link = qq{<a href="$url?offset=$prev_offset" title="Previous Page">&laquo;</a>};
}
unless ($offset == $num_pages * $limit) {
    $next_link = qq{<a href="$url?offset=$next_offset" title="Next Page">&raquo;</a>};
}
</%init>
