<a name="<% $class %>"></a>

<div class="jump">
% if ($link1) {
  <a href="#<% $link1 %>"><img src="/media/images/<% "$lang_key/$img1" %>_dgreen.gif" border=0 hspace=2></a>
% } if ($link2) {
  <a href="#<% $link2 %>"><img src="/media/images/<% "$lang_key/$img2" %>_dgreen.gif" border=0 hspace=2></a>
% }
</div>

<div class="desk-top">
  <h1><% $caption %></h1>
  <div class="sort">
    <label for="<% $class %>_sort_by"><% $lang->maketext('Sort By') %>:</label> 
    <& '/widgets/profile/select.mc',
        value => $sort_by_val,
        useTable => 0,
        width  => 100,
        options => $sort_by->{$class},
        name => $class . '_sort_by',
        js => qq{onchange="location.href='} . $r->uri . "?${class}_sort_by=' + " . qq{escape(this.options[this.selectedIndex].value)"},
    &>
  </div>
</div>

<div class="desk">
<%args>
$class => 'story'
$caption => ''
$sort_by_val => undef
$others => {}
</%args>
<%init>;
$caption ||= $pl_names->{$class};
my ($link1, $link2, $lab1, $lab2, $img1, $img2);
if ($class eq 'story') {
    ($link1, $lab1, $img1) = ('media', $pl_names->{media}, 'media') if $others->{media};
    ($link2, $lab2, $img2) = ('formatting', $pl_names->{formatting}, 'templates')
      if $others->{formatting};
} elsif ($class eq 'media') {
    ($link1, $lab1, $img1) = ('story', $pl_names->{story}, 'stories') if $others->{story};
    ($link2, $lab2, $img2) = ('formatting', $pl_names->{formatting}, 'templates')
      if $others->{formatting};
} else {
    ($link1, $lab1, $img1) = ('story', $pl_names->{story}, 'stories') if $others->{story};
    ($link2, $lab2, $img2) = ('media', $pl_names->{media}, 'media') if $others->{media};

}

$sort_by_val = get_pref('Default Asset Sort') unless defined $sort_by_val;
</%init>
<%once>;
my $sort_by = { story      => [ [ name          => 'Title' ],
                                [ uri           => 'Primary URI' ],
                                [ cover_date    => 'Cover Date' ],
                                [ element       => 'Story Type' ],
                                [ id            => 'Story ID' ],
                                [ priority      => 'Priority' ],
                                [ site_id       => 'Site' ],
                              ],
                media      => [ [ name          => 'Title' ],
                                [ uri           => 'Primary URI' ],
                                [ cover_date    => 'Cover Date' ],
                                [ element       => 'Media Type' ],
                                [ id            => 'ID' ],
                                [ priority      => 'Priority' ],
                                [ site_id       => 'Site' ],
                              ],
                formatting => [ [ name          => 'File Name' ],
                                [ deploy_date   => 'Deployed Date' ],
                                [ output_channel => 'Output Channel' ],
                                [ priority      => 'Priority' ],
                                [ element_type  => 'Asset Type' ],
                                [ id            => 'ID' ],
                                [ site_id       => 'Site' ],
                              ]
              };

my $pl_names = { story => get_class_info('story')->get_plural_name,
                 media => get_class_info('media')->get_plural_name,
                 formatting => get_class_info('formatting')->get_plural_name
               };
</%once>
