<table width=578 cellpadding=2 cellspacing=1 border=0>
  <tr>
    <td align="right">
      <input type="image" src="/media/images/<% $chk_cb %>_assets_<% $color1 %>.gif" border=0 name="<% "$widget|$chk_cb" %>_cb" value="<% $chk_label %>">
% if (!$desk || ($desk && $desk->can_publish)) {
%#      <input type="image" src="/media/images/<% $act_cb %>_<% $mod %>_<% $color2 %>.gif" border=0 name="<% "$widget|$act_cb" %>_cb" value="<% $act_label %>">
      <input type="image" src="/media/images/<% $act_label %>.gif" border=0 name="<% "$widget|$act_cb" %>_cb" value="<% $act_label %>">
% }
    </td>
  </tr>
</table>

<%args>
$widget
$wf   => undef
$desk => undef
$w_id => undef
$d_id => undef
</%args>

<%init>
my $d = $r->pnotes("desk.objs");
return unless $d->{story} || $d->{media} || $d->{formatting};
$wf ||= Bric::Biz::Workflow->lookup({ id => $w_id }) if defined $w_id;
$desk ||= Bric::Biz::Workflow::Parts::Desk->lookup({ id => $d_id }) if defined $d_id;
my ($chk_label, $chk_cb, $act_label, $act_cb) = $desk ?
  ('Move Assets', 'move', $wf && $wf->get_type == TEMPLATE_WORKFLOW ? ('deploy_checked_red', 'deploy')
   : ('publish_checked_red', 'publish'))
  : ('Check In Assets', 'checkin', 'delete_checked_red', 'delete');

my $color1 = ($chk_cb eq 'move') ? 'lgreen' : 'red';
my $color2 = ($act_cb) ? 'red' : 'red';
my $mod    = ($chk_cb eq 'move') ? 'assets': 'checked';
</%init>
