<table width="<% $table_width %>" cellpadding="0" cellspacing="0">
<tr>
  <td width="<% $cell_width %>"><img src="/media/images/spacer.gif" width="<% $cell_width %>" height="1" /></td>
  <td><input type="image" src="/media/images/<% $lang_key %>/<% $button %>.gif" border="0" name="<% $widget %>|<% $cb %>" <% $value %>></td>
</tr>
</table>
<%args>
$widget
$cb     => 'create_cb'
$button => 'create_red'
$value => undef
</%args>
<%once>;
my $table_width = FIELD_INDENT + 150;
my $cell_width = FIELD_INDENT - 10;
</%once>
<%init>
$value = defined($value) ? qq{value="$value"} : '';
</%init>