<form action="<% $r->uri %>" method="post" name="bricolage_login">
% $m->comp( "/widgets/wrappers/sharky/table_top.mc",
%	    caption => 'Please log in:'
% );


<table cellpadding=2 cellspacing=0 border=0 width=578>
<tr>
<td width=150 align=right><span class=label>Username:</span></td>
<td width=448>
<& '/widgets/profile/text.mc',
    name   => 'login|username',
    useTable => 0
&>
  
</td>
</tr>
<tr>
<td width=150 align=right><span class=label>Password:</span></td>
<td width=448><& '/widgets/profile/password.mc',
                  name => 'login|password',
                  useTable => 0
&></td>
</tr>
% if (SSL_ENABLE) {
<tr>
<td width=150 align=right><span class=label>Use SSL:</span></td>
<td width=448><& '/widgets/profile/checkbox.mc',
                  name => 'login|ssl',
		  value => 1,
		  checked => $state eq 'ssl' ? 1 : 0,
                  useTable => 0
&></td>
</tr>
% }
<tr>
  <td>&nbsp;</td>
  <td><input type="image" src="/media/images/login.gif" border=0 vspace=5 name="<% "$widget|login_cb" %>" value="Login"></td>
</tr>
</table>

% $m->comp( "/widgets/wrappers/sharky/table_bottom.mc");
</form>

<%args>
$widget
</%args>
<%init>;
my $state = get_state_name($widget) || 'nossl';
</%init>