<& /widgets/wrappers/header.mc, 
    title => 'Edit Keywords',
    context => $context . $r->pnotes('story_prof|title') . ' | Keywords'
&>
<form action="<% $r->uri %>" method="post" name="theForm">
<% $content %>
</form>

<& /widgets/wrappers/footer.mc &>


<%once>;
my $type = 'element';
my $disp = get_disp_name('story');
my $context = "Workflow | Profile | $disp | ";
</%once>

<%args>
$id => undef
</%args>

<%init>
# Do any redirects first.
do_queued_redirect();

my $content = $m->scomp('/widgets/story_prof/story_prof.mc',
                        id      => $id,
                        section => 'keyword',
                        param => \%ARGS);
</%init>

<%doc>
###############################################################################

=head1 NAME

keywords.html -- Keyword section of the story profile

=head1 VERSION

$LastChangedRevision$

=head1 DATE

$LastChangedDate$

=head1 DESCRIPTION

<description>

=cut
</%doc>