<& "/widgets/wrappers/header.mc",
    title => "Notes",
    context => $context . $r->pnotes("asset_meta|name") . ' | Notes'
&>

<form action="<% $r->uri %>" method="post">

<& "/widgets/profile/hidden.mc",
    name    => 'id',
    value   => $id
&>

<% $content %>

</form>
<& /widgets/wrappers/footer.mc &>


<%once>;
my $type = 'element';
my $disp = get_disp_name('story');
my $context = "Workflow | Profile | $disp | ";
</%once>

<%args>
$id => undef
</%args>

<%init>;
# Do any redirects first.
do_queued_redirect();

my $content = $m->scomp('/widgets/asset_meta/asset_meta.mc',
                        id      => $id,
                        action  => 'view',
                        type    => 'story',
                        section => 'notes');
</%init>