<%perl>
my $rightText = $m->scomp( '/widgets/profile/imageSubmit.mc',
  formName => "theForm",
  callback => $widget . "|trail_cb",
  image    => "view_trail_teal"
) . '&nbsp;';

$rightText .= $m->scomp( '/widgets/profile/imageSubmit.mc',
  formName => "theForm",
  callback => $widget . "|notes_cb",
  value    => 'view',
  image    => %{ $media->get_notes } ? 'note_fill' : "note"
);

$m->comp("/widgets/wrappers/sharky/table_top.mc",
  	 caption => "Information",
	 number  => $num++,
	 rightText => $rightText

);
</%perl>

<table border="0" width="578" cellpadding="0" cellspacing="0">
  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">ID:&nbsp;</span></td>
  <td width="470">&nbsp;<% $id %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Asset Type:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_element_name %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Title:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_title %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">URI:&nbsp;</span></td>
  <td width="470">&nbsp;<a href="/workflow/profile/preview/media/<% $id %>" class="blackUnderlinedLink" target="preview_<% SERVER_WINDOW_NAME %>"><% $media->get_uri %></a></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Source:&nbsp;</span></td>
  <td width="470">&nbsp;<% Bric::Biz::Org::Source->lookup({ id => $media->get_source__id })->get_name %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Description:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_description %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Current Version:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_version() %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Published Version:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_published_version() %></td>
  </tr>
  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Priority:&nbsp;</span></td>
  <td width="470">&nbsp;<% $media->get_priority() %></td>
  </tr>

  <tr>
  <td bgcolor="white"><img src="/media/images/spacer.gif" width="1" height="1" /></td>
  </tr>

  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Output Channels:&nbsp;</span></td>
  <td width="470">&nbsp;<% join ', ', (map { $_->get_name } $media->get_output_channels) %></td>
  </tr>
</table>

% $m->comp("/widgets/wrappers/sharky/table_bottom.mc");

% $m->comp("/widgets/wrappers/sharky/table_top.mc",
%   caption => "The File",
%   number => 2
%   );
<table border="0" width="578" cellpadding="0" cellspacing="0">
  <tr>
  <td class="medHeader"><img src="/media/images/spacer.gif" height="18" width="1" /></td>
  <td width="<% $infoIndent %>" align="right" class="medHeader"><span class="label">Download:&nbsp;</span></td>
  <td width="470">&nbsp;
% if (my $uri = $media->get_local_uri()) {
    <a href="<% $uri %>" target="download_<% SERVER_WINDOW_NAME %>" class="darkBlueLink"><% $media->get_file_name %></a>
% } else {
    No file has been uploaded.
% }
  </td>
  </tr>
</table>

% $m->comp("/widgets/wrappers/sharky/table_bottom.mc");


<& '/widgets/container_prof/container_prof.mc',
  tile        => $tile,
  tile_type   => 'media',
  action      => 'view',
  num         => 3,
  title       => 'Content',
  start_count => 6
&>

% $m->comp("/widgets/wrappers/sharky/table_top.mc",
%          caption => "Contributors",
%          number => 4);

<table border=0 cellpadding=0 cellspacing=0 width=578>
<tr>
  <td width="121" align="right" height="25"><span class=label>Contributors:&nbsp;</span></td>
  <td width="457">
<%perl>
my @existing_contribs = map { $_->get_name } $media->get_contributors;
$m->out((scalar(@existing_contribs)) ? "&nbsp;" . join(", ", @existing_contribs) : "&nbsp;No contributors defined.");
</%perl>
  </td>
</tr>
</table>

% $m->comp("/widgets/wrappers/sharky/table_bottom.mc");

<input type="image" src="/media/images/return_dgreen.gif" border=0 name="<% $widget %>|return_cb" value="Return To Desk">

<%args>
$widget
</%args>

<%init>
my $media = get_state_data($widget, 'media');
my $id = $media->get_id;
my $tile = $media->get_tile();

set_state_data('container_prof', 'tile', $tile);

my $agent = $m->comp("/widgets/util/detectAgent.mc");
my $infoIndent = ($agent->{browser} eq "Netscape") ? FIELD_INDENT - 5 : FIELD_INDENT + 8;
my $num = 1;
</%init>
