<div class="alpha">
<div class="row">
    <div class="input">
% for my $i ("A" .. "Z") {
%   if ($let eq $i) {
<span title="Filter by '<% $i %>'"><% $i %></span> |
%   } else {
<a href="<% $url %>?search|alpha_cb=<% $i %>" title="Filter by '<% $i %>'"><% $i %></a> |
%   }
%   if ($i eq "N") {
<br />
%   }
% }
% if ($let eq '%') {
[<span title="<% $lang->maketext('Show all') %>"><%$lang->maketext('All')%></span>]
% } else {
[<a href="<% $url %>?search|alpha_cb=<% '%25' %>" title="Show all"><%$lang->maketext('All')%></a>]
% }
    </div>
</div>
</div>
<%args>
$widget
$state
</%args>
<%init>
return unless Bric::Util::Pref->lookup_val( 'Show Alpha Search' );
my $url = $r->uri;
my $let = $state->{crit_letter} || '';
</%init>

