<%args>
$widget
$object
$disp_field
$use_form_tag
$wf
$state
$insert
</%args>
<%init>
my $advanced_search = $state->{advanced_search};
$advanced_search = get_pref('Default Search')
  unless defined $advanced_search;
my $asset_opts = {
        '' => $lang->maketext('All Types'),
        map { $_->get_id, $_->get_name }
          Bric::Biz::ElementType->list({
              top_level => 1,
              media     => 1,
              active    => 1,
          })
    };
my $sites = $c->get('__SITES__');

unless ($sites) {
    $sites = Bric::Biz::Site->list({ active => 1 });
    $c->set('__SITES__', $sites);
}

$sites = [grep { chk_authz($_, READ, 1) } @$sites];
</%init>

% if ($use_form_tag) {
<form action="<% $r->uri %>" method="post">
% }

<%perl>
$m->comp("/widgets/wrappers/table_top.mc",
              caption => $lang->maketext('Search'),
              search  => 1);
</%perl>

<div id="basic-search"<% ($advanced_search) ? ' style="display: none"' : '' %>>

    <& '/widgets/profile/text.mc',
        name    => $widget.'|simple',
        value   => $state->{simple} || '',
        useTable => 0 &>

%   # This hidden field is required to make the form submit when the user hits
%   # the "enter" key.
    <& '/widgets/profile/hidden.mc',
        id      => 'search-type',
        name    => $widget.'|media_cb',
        value   => 'simple' &>

    <& '/widgets/profile/button.mc',
        disp    => $lang->maketext('Search'),
        name    => 'simple_search',
        button  => 'search_red',
        js      => qq{onclick="\$('search-type').value = 'simple'"},
        useTable => 0 &>

        <a href="#" class="small" style="margin-left: 10px;" onclick="$('search_name').value = $('search_simple').value; $('basic-search', 'advanced-search').invoke('toggle'); return false">Show more options &raquo;</a>

</div>

<div id="advanced-search"<% ($advanced_search) ? '' : ' style="display: none"' %>>

    <& /widgets/profile/text.mc,
        disp    => $lang->maketext('Title'),
        name    => $widget.'|name',
        value   => $state->{name} || '' &>
    
    <& /widgets/profile/text.mc,
        disp    => $lang->maketext('URI'),
        name    => $widget.'|uri',
        value   => $state->{uri} || '' &>
        
    <& /widgets/profile/text.mc,
        disp    => $lang->maketext('Keyword'),
        name    => $widget.'|keyword',
        value   => $state->{keyword} || '' &>

    <& /widgets/profile/text.mc,
        disp    => $lang->maketext('Text to search'),
        name    => $widget.'|data_text',
        value   => $state->{data_text} || '' &>

    <& /widgets/profile/select.mc,
        disp    => $lang->maketext('Type'),
        name    => $widget.'|element_type_id',
        value   => $state->{element_type_id} || '',
        options => $asset_opts,
        localize => 0 &>

% my $active_checked = $state->{active} ? 1 : 0;
    <& /widgets/profile/checkbox.mc,
        disp     => $lang->maketext('Include deleted'),
        name     => $widget . '|active',
        value    => 'tf',    # XXX: 't' and 'f' (see Bric::App::Callback::Search)
        checked  => $active_checked,
        localize => 0,
        useTable => 1,
        &>

% if (get_pref("Filter by Site Context")) {
    <& /widgets/profile/hidden.mc,
        name    => "$widget|site_id",
        value   => $c->get_user_cx(get_user_id) &>
% } elsif (@$sites > 1) {
    <& /widgets/profile/select.mc,
        disp    => $lang->maketext('Site'),
        name    => $widget.'|site_id',
        value   => $state->{site_id} || '',
        options => [ [ '' => $lang->maketext('All Sites') ],
                     map { [$_->get_id => $_->get_name] } @$sites ],
        localize => 0 &>
% }

    <div class="row">
        <div class="label"><% $lang->maketext('Cover Date') %>:</div>
        <div class="input">
                  <& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|cover_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{cover_date_start} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  &mdash;<& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|cover_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{cover_date_end} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
        </div>
    </div>
    <div class="row">
        <div class="label"><% $lang->maketext('Publish Date') %>:</div>
        <div class="input">
                  <& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|publish_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{publish_date_start} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  &mdash;<& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|publish_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{publish_date_end} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
        </div>
    </div>
    <div class="row">
        <div class="label"><% $lang->maketext('Expire Date') %>:</div>
        <div class="input">
                  <& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|expire_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{expire_date_start} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  &mdash;<& '/widgets/select_time/select_time.mc',
                     base_name  => "$widget|expire_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => $state->{expire_date_end} ||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
        </div>
    </div>
    <div class="row">
        <div class="input">
            <& /widgets/profile/button.mc,
                disp    => $lang->maketext('Search'),
                name    => 'advanced_search',
                button  => 'search_red',
                js      => qq{onclick="\$('search-type').value = 'advanced'"},
                useTable => 0 &>
            <& /widgets/profile/button.mc,
                disp    => $lang->maketext('Clear Values'),
                widget  => $widget,
                cb      => 'clear_cb',
                button  => 'clear_values_lgreen',
                useTable => 0 &>
                
        <a href="#" class="small" style="margin-left: 10px;" onclick="$('search_simple').value = $('search_name').value; $('basic-search', 'advanced-search').invoke('toggle'); return false">&laquo; Show fewer options</a>

        </div>
    </div>
</div>
<% $insert %>
<& '/widgets/wrappers/table_bottom.mc' &>

% if ($use_form_tag) {
</form>
% }

