%#--- Arguments ---#

<%args>
$widget
$object
$disp_field
$use_form_tag
</%args>

%#--- Initialization ---#
<%init>
my $agent = $m->comp("/widgets/util/detectAgent.mc");
my $spacerRow = ($agent->{browser} eq "Internet Explorer") ? '<img src="/media/images/spacer.gif" width=550 height=3>' : "";
my $advanced_search = get_state_data($widget, 'advanced_search') || 0;
</%init>

% if ($use_form_tag) {
<form action="<% $r->uri %>" method="post">
% }

<table border=0 cellpadding=0 cellspacing=0 width=580>
<tr>

  <td class="darkHeader" valign="top" width="13"><img src="/media/images/666633_curve_left.gif" width="13" height="18"></td>
% unless ($advanced_search) {
  <td class="darkHeader" width=556>SEARCH [ <a href="<% $r->uri %>?<% $widget %>|set_advanced_cb=1" class="whiteUnderlinedLink">Advanced Search</a> ]</td>
% } else {
  <td class="darkHeader" width=556>ADVANCED SEARCH [ <a href="<% $r->uri %>?<% $widget %>|unset_advanced_cb=1" class="whiteUnderlinedLink">Simple Search</a> ]</td>
% }
  <td class="darkHeader" valign="top" width="13" align="right"><img src="/media/images/666633_curve_right.gif" width="13" height="18"></td>
</tr>
</table>
<table border=0 cellpadding=0 cellspacing=0 width=578>
<tr>
  <td class="darkHeader"><img src="/media/images/spacer.gif" width=1 height=1></td>
  <td class=lightHeader>
<% $spacerRow %>
            <table>
% unless ($advanced_search) {
              <tr>
                <td>
                  <& /widgets/profile/text.mc, 
                     name     => $widget.'|simple',
                     value    => get_state_data($widget, 'simple') || '',
                     useTable => 0 &>
                </td>
                <td>
%# This hidden field is required to make the form submit when the user hits
%# the "enter" key.
                  <input type="hidden" name="<% $widget %>|story_cb" value="Search" />
                  <input type="image" src="/media/images/search_red.gif" border=0 name="<% $widget %>|story_cb" value="Search">
                </td>
% } else {
              <tr>
                <td align="right"><span class=label>Title:</span></td>
                <td>
                  <& /widgets/profile/text.mc,
                     name     => $widget.'|title',
                     value    => get_state_data($widget, 'title') || '',
                     useTable => 0 &>
                </td>
              </tr>             
              <tr>
                <td align="right"><span class=label>URI:</span></td>
                <td>
                  <& /widgets/profile/text.mc,
                     name     => $widget.'|primary_uri',
                     value    => get_state_data($widget, 'primary_uri') || '',
                     useTable => 0 &>
                </td>
              </tr>             
              <tr>
                <td align="right"><span class=label>Keyword:</span></td>
                <td>
                  <& /widgets/profile/text.mc,
                     name     => $widget.'|keyword',
                     value    => get_state_data($widget, 'keyword') || '',
                     useTable => 0 &>
                </td>
              </tr>
              <tr>
                <td align="right"><span class=label>Category URI:</span></td>
                <td>
                  <& /widgets/profile/text.mc,
                     name     => $widget.'|category_uri',
                     value    => get_state_data($widget, 'category_uri') || '',
                     useTable => 0 &>
                </td>
              </tr>             
              <tr>
                <td align="right"><span class=label>Teaser:</span></td>
                <td>
                  <& /widgets/profile/text.mc, 
                     name     => $widget.'|teaser',
                     value    => get_state_data($widget, 'teaser') || '',
                     useTable => 0 &>
                </td>
              </tr>
% my @cur   = localtime; $cur[5] += 1900; $cur[4]++;
% my $today = sprintf('%04d-%02d-%02d %02d:%02d:%02d', @cur[5,4,3,2,1,0]);
              <tr>
                <td colspan=2><span class=label>Cover&nbsp;Date</span><br />
                  From: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|cover_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'cover_date_start')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  To: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|cover_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'cover_date_end')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                </td>
              </tr>
              <tr>
                <td  colspan=2><span class=label>Publish&nbsp;Date</span><br />
                  From: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|publish_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'publish_date_start')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  To: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|publish_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'publish_date_end')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                </td>
              </tr>
              <tr>
                <td colspan=2><span class=label>Expire&nbsp;Date</span><br />
                  From: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|expire_date_start",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'expire_date_start')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                  To: 
                  <& '/widgets/select_time/select_time.mc', 
                     base_name  => "$widget|expire_date_end",
                     indent     => 1,
                     no_hour    => 1,
                     no_min     => 1,
                     repopulate => 0,
                     def_date   => get_state_data($widget, 'expire_date_end')||'',
                     compact    => 1,
                     style      => 'inline',
                  &>
                </td>
              </tr>
% } # unless ($advanced_search) {
            </table>
  </td>
  <td class="darkHeader"><img src="/media/images/spacer.gif" width=1 height=1></td>
</tr>
<tr>
  <td class="darkHeader" width=580 colspan=2><img src="/media/images/spacer.gif" width=580 height=1></td>
</tr>
</table>
% if ($advanced_search) {
  <p></p>
  <input type="image" src="/media/images/search_lgreen.gif" border=0 name="<% $widget %>|story_cb" value="Search">
  <input type="image" src="/media/images/clear_values_lgreen.gif" border=0 name="<% $widget %>|clear_cb" value="Clear Values">
% }
%#--- Log History ---#
% if ($use_form_tag) {
</form>
% }

