<script type="text/javascript">
    _editor_url  = "/media/wysiwyg/xinha/"
    _editor_lang = "en";
</script>
<script type="text/javascript" src="/media/wysiwyg/xinha/XinhaCore.js"></script>
<script type="text/javascript">
    editors = new Array();
    xinha_init    = null;
    xinha_config  = null;
    xinha_plugins = null;

    // This contains the names of textareas we will make into Xinha editors
    xinha_init = xinha_init ? xinha_init : function() {
      xinha_plugins = xinha_plugins ? xinha_plugins : <% XINHA_PLUGINS %>;
             
      // THIS BIT OF JAVASCRIPT LOADS THE PLUGINS, NO TOUCHING  :)
      if(!Xinha.loadPlugins(xinha_plugins, xinha_init)) return;

      xinha_config = xinha_config ? xinha_config : new Xinha.Config();
      xinha_config.toolbar = <% XINHA_TOOLBAR %>;

      // Load visible xinha fields.
      start_xinhas_below($$('#containerprof > .content > .elements').first().id);
    }

    function start_xinhas_below(eid) {
        // Nasty and fragile. We only load Xinha editors when they become visible.
        // http://www.xinha.org/punbb/viewtopic.php?id=2809
        // Also called from Container.toggle() in lib.js.
        // These variables may need to be adjusted if the element structure
        // changes.
        var csel = ' > .container > .content > fieldset > .elements';
        var fsel = ' > li > div > .wysiwyg';

        var containers = $$('#' + eid);
        while (containers.size() > 0) {
            var c = containers.shift();
            var fields = $$('#' + c.id + fsel);
            if (fields.size() > 0) {
                Xinha.startEditors(Xinha.makeEditors(fields, xinha_config, xinha_plugins));
            };
            // Add any visible subelements to the list.
            $$('#' + c.id + csel).each(function (e) {
                if (e.visible()) {
                    containers.push(e);
                }
            });
        }
    }

    Event.observe(window, "load", xinha_init);
</script>
