<script type="text/javascript">
    _editor_url  = "/media/wysiwyg/xinha/"
    _editor_lang = "en";
</script>
<script type="text/javascript" src="/media/wysiwyg/xinha/XinhaCore.js"></script>
<script type="text/javascript">
    editors = new Array();
    xinha_init    = null;
    xinha_config  = null;
    xinha_plugins = null;

    // This contains the names of textareas we will make into Xinha editors
    xinha_init = xinha_init ? xinha_init : function() {
      xinha_plugins = xinha_plugins ? xinha_plugins : <% XINHA_PLUGINS %>;
             
      // THIS BIT OF JAVASCRIPT LOADS THE PLUGINS, NO TOUCHING  :)
      if(!Xinha.loadPlugins(xinha_plugins, xinha_init)) return;

      xinha_config = xinha_config ? xinha_config : new Xinha.Config();
      xinha_config.toolbar = <% XINHA_TOOLBAR %>;
      
      var xinha_editors = Xinha.makeEditors(editors, xinha_config, xinha_plugins);

      Xinha.startEditors(xinha_editors);
    }

    Event.observe(window, "load", xinha_init);
</script>
