<%perl>
my $wf = Bric::Biz::Workflow->lookup
  ({ id => get_state_data($widget, 'work_id')});
my $site_id = $wf->get_site_id;

$m->comp('/widgets/wrappers/sharky/table_top.mc',
         'caption' => 'Properties',
         'number'  => 1);
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => 'site',
         readOnly => 1,
         objref => $wf
        );
$m->out($ieSpacer);
if ($param->{tplate_type}) {
    # Output a hidden field for the template type.
    $m->comp('/widgets/profile/hidden.mc',
             name => 'tplate_type',
             value => $param->{tplate_type});

    if ($param->{tplate_type} ==
        Bric::Biz::Asset::Formatting::ELEMENT_TEMPLATE) {
        # It's an element template. Offer them a list of elements to
        # choose from.
        $m->comp('/widgets/select_object/select_object.mc',
                 object    => 'element',
                 name      => $widget.'|at_id',
                 field     => 'name',
                 reset_key => $rk,
                 exclude   => $excl_media_sub,
                 constrain => { site_id => $site_id },
                 disp      => 'Element');
    } elsif ($param->{tplate_type} ==
             Bric::Biz::Asset::Formatting::UTILITY_TEMPLATE) {
        # It's a utiltiy template. Offer a name field.
        $m->comp('/widgets/profile/text.mc',
                 disp => 'Name',
                 req => 1,
                 name => "$widget|name");
    } else {
        # Do nothing for a category template. This should never happen.
    }
} else {
    # Let them decide what type of template they want.
    $m->comp('/widgets/profile/displayFormElement.mc',
             vals => Bric::Biz::Asset::Formatting->my_meths->{tplate_type},
             key => 'tplate_type'
            );
}
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "file_type",
         vals => {
               disp  => "File Type",
               value => 'mc',
               props => {
                          type => 'select',
                          vals => {
                                    'mc'   => 'Mason Component (.mc)',
                                    'pl'   => 'HTML::Template Script (.pl)',
                                    'tmpl' => 'HTML::Template Template (.tmpl)'
                                  }
                         }
         });
$m->out($ieSpacer);

$m->comp('/widgets/select_object/select_object.mc',
         'object'    => 'output_channel',
         'name'      => $widget.'|oc_id',
         'field'     => 'name',
         'reset_key' => $rk,
         selected    => $param->{"$widget|oc_id"},
         constrain   => { active => 1 , site_id => $site_id},
         req         => 1,
         'disp'      => 'Output Channel');
$m->out($ieSpacer);
$m->comp('/widgets/select_object/select_object.mc',
         'object'    => 'category',
         'name'      => $widget.'|cat_id',
         selected    => $param->{"$widget|cat_id"},
         'reset_key' => $rk,
         'field'     => 'uri',
         sort_field  => 'uri',
         constrain   => { site_id => $site_id },
         exclude     => $excl_sub,
         req         => 1,
         'disp'      => 'Category');
$m->out($ieSpacer);
$m->comp('/widgets/profile/displayFormElement.mc',
         key => "priority",
         vals => $pmeth);
$m->out($ieSpacer . "<br />");
$m->comp('/widgets/wrappers/sharky/table_bottom.mc');

$m->comp("/widgets/wrappers/sharky/table_top.mc",
         caption => "Submit",
         number  => 2,
         ghostly => 1);
</%perl>
<table width=<% FIELD_INDENT + 150 %> cellpadding=0 cellspacing=0>
<tr>
  <td width="<% FIELD_INDENT - 10%>"><img src="/media/images/spacer.gif" width="<% FIELD_INDENT - 10%>" height="1" /></td>
  <td width=150><input type="image" src="/media/images/<% $lang_key %>/<% $button %>.gif" border=0 name="<% "$widget|$cb" %>"></td>
</tr>
</table>

<%args>
$widget
$param
</%args>

<%init>;
my $rk = get_state_data($widget, 'reset_key');
# browser spacing stuff
my $agent = $m->comp("/widgets/util/detectAgent.mc");
my $ieSpacer = ($agent->{browser} eq "Internet Explorer") ? qq{<table><tr><td><img src="/media/images/spacer.gif" width=570 height=5 /></td></tr></table>} : '';
my $infoIndent = ($agent->{browser} eq "Netscape") ? FIELD_INDENT - 7 : FIELD_INDENT;

my ($button, $cb);
($button, $cb, $pmeth->{value}) = $param->{tplate_type} ?
  ('create_red', 'create_cb', $param->{priority}) :
  ('next_dkgreen', 'create_next_cb', 3);

</%init>

<%once>;
my $pmeth = { %{ Bric::Biz::Asset::Formatting->my_meths->{priority} } };
$pmeth->{value} = 3;
my $excl_sub = sub { ! chk_authz($_[0], READ, 1) };
my $excl_media_sub = sub { $_[0]->is_media || ! chk_authz($_[0], READ, 1) };
</%once>
