%#-- Once Section --#
<%once>;
my $type = 'element';
my $disp = get_disp_name('template');
my $context = "Workflow | Profile | $disp | ";
</%once>

%#-- Args Section --#
<%args>
$id => undef
</%args>

%#-- Init Section --#
<%init>;
# Do any redirects first.
do_queued_redirect();

my $content = $m->scomp('/widgets/asset_meta/asset_meta.mc',
                        id      => $id,
                        action  => 'edit',
                        type    => 'template',
                        section => 'notes');
</%init>

<& '/widgets/wrappers/sharky/header.mc', 
    'title' => 'Notes',
    context => $context . $r->pnotes("asset_meta|name") . ' | Notes'
&>

<form action="<% $r->uri %>" method="post">

<& "/widgets/profile/hidden.mc",
    name    => 'id',
    value   => $id
&>

<% $content %>

</form>
<& /widgets/wrappers/sharky/footer.mc &>
